/*
 * Document    : index.index.css
 * Description : CSS for Index/index.html
 *
 * Created on  : 2012-9-25
 * Author      : ReadYun
 * Copyright   : VixiK
 */

.icon>i{font-size:100px;}

#Header{
    width: 100%;
}
#Main{
    width: 100%;
    overflow: hidden;
    font-family: '宋体',Tahoma;  
    }
    #Main>div.block{
        width: 100%;
        overflow: hidden;
    }
    #Main>div.fixed{
        width: 960px;
        margin: 0 auto;
        overflow: hidden;
    }

#viewBox{
    min-width: 960px;
    height: 350px;
    }    
    #viewBox img{
        width: 100%;
        height: 100%;
    }
    
#searchBox{
    padding: 20px 0;
    }
    #searchBox>div.search-main-desc{
        margin: 10px auto;
        padding-top: 20px;
        overflow: hidden;
        font: 45px '黑体',Tahoma;  
        color: #666;
        font-weight: 900;
        text-align: center;
    }
    #searchBox>div.search-sub-desc{
        margin: 0 auto;
        padding-top: 10px;
        overflow: hidden;
        font-size: 19px;  
        text-align: center;
        color: #999;
    }
    #searchBox>div.search-body{
        width: 600px;
        height: 40px;
        margin: 30px auto;
        position: relative;
    }
    #searchBox>div.search-body>input{
        width: 558px;
        height: 28px;
        padding: 5px 20px;
        float: left;
        font: 26px '宋体',Tahoma;  
        border-radius: 20px;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
    #searchBox>div.search-body>input:hover{
        border: 1px solid #6BB130;
    }
    #searchBox>div.search-body>input:focus{
        border: 1px solid #6BB130;
    }
    #searchBox>div.search-body>i{
        position: absolute;
        top: 15px;
        right: 10px;
        color: #999999;
        padding: 0;
    }

#actionBox{
    padding: 30px 0;
    overflow: hidden;
    }
    #actionBox>div{
        width: 450px;
        overflow: hidden;
        }
    #actionBox>div.action-publish{
        float: left;
        }
    #actionBox>div.action-partake{
        float: right;
        }
        #actionBox div.stats-chart{
            width: 100%;
            height: 250px;
            float: left;
        }
        #actionBox div.start-action{
            width: 100%;
            overflow: hidden;
            }
            #actionBox div.start-action>div.action-desc{
                padding: 20px 0;
                font: 21px '宋体',Tahoma;
                text-align: center;
                color: #666666;
            }
            #actionBox div.start-action>div.action-button{
                width: 450px;
                height: 50px;
            }
#descBox{
    width: 100%;
    height: 180px;
    margin: 50px 0;
    background: #EEE;
    }
    #descBox>div{
        width: 960px;
        height: 100%;
        margin: 0 auto;
        }
        #descBox div.desc-elem{
            width: 25%;
            height: 100%;
            float: left;
            font: 25px '宋体',Tahoma;
            text-align: center;
        }
        #descBox div.desc-elem:hover{
            background: #FFF;
        }

#surveyType{
    width: 100%;
    overflow: hidden;
    }
    #surveyType>div{
        width: 100%;
        font: 39px '宋体',Tahoma;
        color: #666;
        overflow: hidden;
        text-align: center;
    }
    #surveyType>div.sv-type-body{
        margin-top: 50px;
        background: #EEE;
        }
        #surveyType>div.sv-type-body>div{
            width: 960px;
            margin: 0 auto;
            background: #EEE;
            }
            #surveyType .survey-type{
                width: 25%;
                height: 200px;
                padding: 10px 0;
                float: left;
                font-size: 20px;
            }
            #surveyType .survey-type:hover{
                cursor: pointer;
                background: #FFF;
            }

#customBox{
    width: 100%;
    margin: 30px 0;
    overflow: hidden;
    }
    #customBox>div{
        width: 960px;
        margin: 10px auto;
        text-align: center;
        color: #666;
        }
    #customBox>div.box-header{
        padding: 10px 0;
        font: 39px '宋体',Tahoma;
        }
        #customBox>div.box-content>div{
            width: 120px;
            height: 120px;
            margin-bottom: 5px;
            float: left;
            font-size: 19px;
        }
        #customBox>div.box-content>div:hover{
            cursor: pointer;
            background: #EEE;
        }
    
    
    




    
    
#mainBox{
    width: 960px;
    margin: 10px auto;
    overflow: hidden;
    }
    #mainBox>div.main-box{
        width: 100%;
        overflow: hidden;   
    }
    #mainBox div.box-title{
        width: 100%;
        height: 23px;
        padding-top: 4px;
        font-size: 17px;
        border-bottom: 1px solid #6BB130;
        background: #F5F5F5;
    }
    #mainBox div.box-body{
        width: 100%;
        height: 200px;
        padding-top: 4px;
        font-size: 12px;
        color: #333333;
    }
        
#surveyBox{
    width: 700px;
    height: 230px;
    margin: 0;
    float: left;
    background: #FFFFFF;
    border-top: 2px solid #6BB130;
    }
    #surveyBox>div{
        width: 340px;
        height: 100px;
        }
        #surveyBox div.box-body>div.list-elem{
            width: 100%;
            height: 20px;
            overflow: hidden;
            }
            #surveyBox div.box-body>div.list-elem>div.sv-title{
                width: 250px;
                float: left;
            }
            #surveyBox div.box-body>div.list-elem>div.sv-title:hover{
                cursor: pointer;
                color: red;
            }
            #surveyBox div.box-body>div.list-elem>div.sv-date{
                width: 90px;
                float: right;
                text-align: right;
            }
    #newSurvey{
        float: left;
    }
    #hotSurvey{
        float: right;
    }
    
    
#midBox{
    height: 100px;
    margin: 20px 0;
    background: yellow;
}

#indexBox{
    width: 700px;
    height: 230px;
    margin: 0;
    float: left;
    overflow: hidden;
    border-top: 2px solid #6BB130;
}

#rankBox{
    width: 240px;
    height: 230px;
    margin: 0;
    float: right;
    overflow: hidden;
    border-top: 2px solid #6BB130;
    }
    #rankBox{
    }

#Footer{
    padding:0;  
    margin:10px 0 0 0;
}