/*
 * Document    : index.index.css
 * Description : CSS for Index/index.html
 *
 * Created on  : 2012-9-25
 * Author      : ReadYun
 * Copyright   : VixiK
 */

.icon>i{font-size:100px;}

#Header{
    width: 100%;
}
#Main{
    width: 100%;
    overflow: hidden;
    font-family: '宋体',Tahoma;  
    }
    #Main>div.block{
        width: 100%;
        overflow: hidden;
    }
    #Main>div.fixed{
        width: 960px;
        margin: 0 auto;
        overflow: hidden;
    }

#viewBox{
    min-width: 960px;
    height: 400px;
    }    
    #viewBox img{
        width: 100%;
        height: 100%;
    }
    
#searchBox{
    padding: 80px 0 50px 0;
    }
    #searchBox>div.search-main-desc{
        margin: 10px auto;
        padding-top: 20px;
        overflow: hidden;
        font: 45px '黑体',Tahoma;  
        color: #666;
        font-weight: 900;
        text-align: center;
    }
    #searchBox>div.search-sub-desc{
        margin: 0 auto;
        padding-top: 10px;
        overflow: hidden;
        font-size: 19px;  
        text-align: center;
        color: #999;
    }
    #searchBox>div.search-body{
        width: 600px;
        height: 40px;
        margin: 30px auto;
        position: relative;
    }
    #searchBox>div.search-body>input{
        width: 558px;
        height: 28px;
        padding: 5px 20px;
        float: left;
        font: 26px '宋体',Tahoma;  
        border-radius: 20px;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
    #searchBox>div.search-body>input:hover{
        border: 1px solid #6BB130;
    }
    #searchBox>div.search-body>input:focus{
        border: 1px solid #6BB130;
    }
    #searchBox>div.search-body>i{
        position: absolute;
        top: 15px;
        right: 10px;
        color: #999999;
        padding: 0;
    }

#actionBox{
    padding: 30px 0;
    overflow: hidden;
    }
    #actionBox>div{
        width: 450px;
        overflow: hidden;
        }
    #actionBox>div.action-publish{
        float: left;
        }
    #actionBox>div.action-partake{
        float: right;
        }
        #actionBox div.stats-chart{
            width: 100%;
            height: 300px;
            float: left;
        }
        #actionBox div.start-action{
            width: 100%;
            overflow: hidden;
            }
            #actionBox div.start-action>div.action-desc{
                padding: 30px 0;
                font: 21px '宋体',Tahoma;
                text-align: center;
                color: #666666;
            }
            #actionBox div.start-action>div.action-button{
                width: 450px;
                }
                #actionBox div.start-action>div.action-button>button{
                    padding: 10px 0;
                }
#surveyType{
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
    }
    #surveyType>div{
        width: 100%;
        font: 39px '宋体',Tahoma;
        color: #666;
        overflow: hidden;
        text-align: center;
    }
    #surveyType .sv-type-chart{
        margin: 80px 0;
    }
    #surveyType>div.sv-type-body{
        background: #6699FF;
        }
        #surveyType>div.sv-type-body>div{
            width: 960px;
            margin: 0 auto;
            background: #EEE;
            cursor: pointer;
            }
            #surveyType .survey-type{
                width: 25%;
                height: 200px;
                padding: 10px 0;
                float: left;
                font-size: 20px;
                color: #FFF;
            }
            #surveyType .survey-type:hover{
                color: #6699FF;
                background: #FFF;
            }

#descBox{
    width: 100%;
    height: 200px;
    background: #6BB130;
    }
    #descBox>div{
        width: 960px;
        height: 100%;
        margin: 0 auto;
        }
        #descBox div.desc-elem{
            width: 25%;
            height: 100%;
            float: left;
            font: 25px '宋体',Tahoma;
            text-align: center;
            color: #FFF;
        }
        #descBox div.desc-elem:hover{
            color: #6BB130;
            background: #FFF;
        }

    
#customBox{
    width: 100%;
    margin: 50px 0;
    overflow: hidden;
    }
    #customBox>div{
        width: 960px;
        margin: 10px auto;
        text-align: center;
        color: #666;
        }
    #customBox>div.box-header{
        padding: 10px 0;
        font: 39px '宋体',Tahoma;
        }
        #customBox>div.box-content>div{
            width: 120px;
            height: 120px;
            margin-bottom: 5px;
            float: left;
            font-size: 19px;
        }
        #customBox>div.box-content>div:hover{
            cursor: pointer;
            background: #EEE;
        }


#Footer{
    padding:0;  
    margin:10px 0 0 0;
}