/*
 * Document    : public.topbar.css
 * Description : CSS for Public/topbar.html
 *
 * Created on  : 2012-11-1
 * Author      : ReadYun
 * Copyright   : VixiK
 */

#navBar{
    width: 100%;
    height: 35px;
    padding: 0;  
    margin: 0;
    background: #1F1F1F;
    text-align: center;
    font: 17px "宋体",Tahoma;   
    color: #CCC;
    z-index: 100;
    overflow: visible;
    }
    #navBar>div{
        width: 33.33%;
        min-width: 310px;
        height: 100%;
        float: left;
    }
    #navBar ul.dropdown-menu{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        min-width: 0;
        padding: 0;
        margin-top: 2.5px;
        border-radius: 0;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
    
#navBar div.nav-box{
    height: 100%;
    float: left;
    overflow: hidden;
    }
    #navBar div.nav-box>div{
        height: 19px;
        padding: 8px;
        margin: 0;
        float: left;
        cursor: pointer;
        }
        #navBar div.nav-box>div a{
            padding: 4px 0;
            font-size: 17px;  
            color: #9F9F9F;
            text-decoration:none;
        }
        #navBar div.nav-box>div:hover>a{
            color: #FFF;        
            border-bottom: 5px solid #6BB130;
        }
    #navBar div.nav-box>div.current{
        height: 100%;
        padding: 6.5px;
        background: #6BB130;
        }
        #navBar div.nav-box>div.current>a{
            padding: 2px 0;
            color: #FFFFFF;
            font-size: 20px;
            border-bottom: none;
        }
    #navBar div.nav-box>div.home{
        width: 25px;
        height: 100%;
    }
    #navBar div.nav-box>div.home:hover{
        background: #555;
        }
        #navBar div.nav-box>div.home:hover i{
            color: #6BB130;
        }
    #navBar div.nav-box>div.home.current{
        background: #6BB130;
        }
        #navBar div.nav-box>div.home.current:hover i{
            color: white;
        }
    #navBar div.nav-box>div.home.current:hover{
        background: #6BB130;
    }

#navBar div.search-box{
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    }    
    #navBar div.search-box>div{
        width: 300px;
        height: 25px;
        margin: 4px auto;
        border: 1px solid #666;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        }
        #navBar div.search-box input{
            width: 260px;
            height: 100%;
            padding: 0 30px 0 10px;
            float: left;
            font: 17px "宋体",Tahoma;  
            color: #999999;
            background: none;
            border: none;
            border-radius: 15px 0 0 15px;
        }
        #navBar div.search-box input:focus{
            color: #333333;
            background: #FFF;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
        }
        #navBar div.search-box div.search-btn{
            width: 30px;
            height: 100%;
            position: absolute;
            top: 2px;
            right: 1px;
        }
         
#navBar div.action-box{
    height: 25px;
    margin: 5px 40px 2px 0;
    padding: 0;  
    float: right;
    background: #3399FF;
    }
    #navBar div.action-box>a{
        width: 70px;
        padding: 5px 0;
        float: left;
        font-size: 14px;
        font-weight: 900;
        color: #000000;
        text-decoration: none;
        text-align: center;
    }
    #navBar div.action-box>ul.dropdown-menu{
        width: 70px;
        background: #333;
        }
        #navBar div.action-box li>a{
            padding: 5px 1px;  
            font-size: 12px;
            color: #3399FF;
            text-align: center;
        }
        #navBar div.action-box li>a:hover{
            color: #000;
            background: #3399FF;
            font-weight: 900;
        }
#navBar div.action-box:hover{
    cursor: pointer;
}
       
#navBar div.login-box{
    float: right;
    overflow: hidden;
    border-left: 1px solid #00CC66;
    border-right: 1px solid #00CC66;
    }
    #navBar div.login-box ul{
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    #navBar div.login-box ul li{
        height: 35px;
        padding: 0;
        float: left;
        display: inline;
        cursor: pointer;
        }
        #navBar div.login-box ul li>a{
            height: 19px;
            padding: 8px;
            float: left;
            text-decoration: none;
            font: 17px '宋体';   
            color: #00CC66;
        }
    #navBar div.login-box ul li:hover{
        background-color: #00CC66;
        }
        #navBar div.login-box ul li:hover>a{
            color: #000;
        }
            
#navBar div.user-box{
    height: 100%;
    padding: 0;  
    margin: 0;
    float: right;
    }
    #navBar div.user-box>div.user-photo{
        width: 30px;
        height: 30px;
        float: right;
        margin: 2.5px;
        }
        #navBar div.user-box>div.user-photo>a.img{
            width: 100;
            height: 100%;
            float: right;
            }
            #navBar div.user-box>div.user-photo img{
                width: 100%;
                height: 100%;
            }
            #navBar div.user-box>div.user-photo i{
                font-size: 30px;
                color: #999;
            }
        #navBar div.user-box ul.dropdown-menu{
            width: 200px;
            background: #FFF;
            }
            #navBar div.user-box ul.dropdown-menu>div.nick{
                width: 100%;
                padding: 5px 0;
                margin-bottom: 10px;
                float: left;
                overflow: hidden;
                font-size: 17px;
                color: #333;
                border-bottom: 1px solid #6BB130;
            }
            #navBar div.user-box div.card-box{
                width: 100%;
                margin-bottom: 10px;
                float: left;
                font-size: 27px;
                color: #666;
                }
                #navBar div.user-box div.card-box>div{
                    width: 50%;
                    padding-bottom: 5px;
                    margin: 0;
                    float: left;
                    text-align: center;
                    }
                    #navBar div.user-box div.value{
                        margin-bottom: 2px;
                        font-size: 25px;
                        font-weight: 900;
                        color: #6BB130;
                    }
                    #navBar div.user-box div.title{
                        font-size: 12px;
                        color: #9F9F9F;
                    }
            #navBar div.user-box div.action{
                width: 100%;
                float: left;
                border-bottom: 5px solid #6BB130;
                }
                #navBar div.user-box div.action>a{
                    width: 33.33%;
                    padding: 10px 0;
                    float: left;
                    font-size: 12px;
                    border-top: 1px solid #EFEFEF;
                }
                #navBar div.user-box div.action>a:hover{
                    color: #FFF;
                    background: #6BB130;
                    border-top: 1px solid #6BB130;
                    cursor: pointer;
                }
