/*
 * Document    : vkform.css
 * Description : CSS for vkForm.js
 *
 * Created on  : 2012-9-25
 * Author      : ReadYun
 * Copyright   : VixiK
 */
#Main{
    width: 960px;
    margin: 50px auto;
    overflow: hidden;
    }
    .vkform{
        width: 100%;
        padding-left: 10px;
        margin: 10px 0;
        float: left;
        overflow: hidden;
        border-left: 3px solid #CCC;
    }
    .vf-elem{
        margin-right: 20px;
        float: left;
        overflow: hidden;
    }
    .vf-elem.block{
        width: 100%;
        margin-bottom: 20px;
    }

#vkEdit .vk-form-style{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    }
    #vkEdit .vk-form-style .vf-header{
        padding-left: 10px;
        margin-bottom: 10px;
        font: 21px "宋体",Tahoma;
        border-left: 5px solid #6BB130;
    }
    #vkEdit .vi-elem{
        width: 600px;
        margin-bottom: 10px;
        overflow: hidden;
        }
        #vkEdit .vi-elem label{
            width: 50px;
            padding-top: 2px;
            float: left;
            overflow: hidden;
            font: 19px "宋体",Tahoma;
        }
        #vkEdit .vf-input{
            margin-bottom: 10px;
        }
        #vkEdit .vi-elem.vixik label{color: #6BB130;}
        #vkEdit .vi-elem.blue label{color: #6699FF;}
        #vkEdit .vi-elem.green label{color: #66CC66;}
        #vkEdit .vi-elem.orange label{color: #FF9933;}






