/*
 * Document    : public.topbar.css
 * Description : CSS for Public/topbar.html
 *
 * Created on  : 2012-11-1
 * Author      : ReadYun
 * Copyright   : VixiK
 */

#Main{opacity:0;}
#Main.active{opacity:1;}
#topBar{
    width: 100%;
    background: #FFF;
    text-align: center;
    font: 19px "宋体",Tahoma;   
    color: #CCC;
    border-bottom: 1px solid #CCC;
    background: #FFF;
    z-index: 99;
    }
    #topBar .dropdown-menu{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        min-width: 0;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
#topBar .topbar-left{
    float: left;
    }
    #topBar .topbar-left>div, #topBar .topbar-left>a{
        float: left;
    }
#topBar .topbar-right{
    float: right;
    }
    #topBar .topbar-right>div{
        float: right;
    }

#topBar .topbar-main{
    width: 100%;
    height: 40px;
    }
    #topBar .topbar-main-wrap{
        width: 960px;
        height: 100%;
        margin: 0 auto;
        position: relative;
        }
        #topBar .topbar-main-wrap .topbar-right{
            position: absolute;
            right: 0;
        }
        #topBar .topbar-main-wrap .topbar-left{
            position: absolute;
            left: 0;
        }
body.topbar-hover .topbar-main{
    z-index: 100;
    overflow: visible;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #CCC;
    background: #FFF;
    }

/* Logo设置 */
#topBar .logo-box{
    margin-right: 20px;
    float: right;
    color: #FFF;
    }
    #topBar .logo-box>img{
        display: none;
        height: 100%;
    }
    #topBar .logo-box>img.logo-main{
        height: 50px;
        margin-top: 18px;
    }
    #topBar .logo-box>img.logo-sub{
        height: 30px;
        margin-top: 5px;
    }
    #topBar.main .logo-box>img.logo-main{
        display: block;
    }
    #topBar.sub .logo-box>img.logo-sub{
        display: block;
    }
    body.topbar-hover #topBar.main img.logo-main{display: none;}
    body.topbar-hover #topBar.main img.logo-sub{display: block;}

/* 主导航栏 */
#topBar .nav-box{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 40px;
    overflow: hidden;
    }
    #topBar .nav-box>div{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        height: 100%;
        padding-top: 5.5px;
        padding-left: 5px;
        padding-right: 5px;
        margin-right: 10px;
        float: left;
        cursor: pointer;
        border-top: 4px solid #FFF;
        border-bottom: 4px solid #FFF;
        }
        #topBar .nav-box>div a{
            display: inline;
            width: 100%;
            font: 19px "宋体",Tahoma;
            color: #666;
            text-decoration:none;
        }
        #topBar .nav-box>div:hover>a{
            color: #6BB130;
        }

#topBar .topbar-main .nav-box{margin-left: 20px;}
#topBar .topbar-sub .nav-box{margin-right: 47px;}

/* 搜索模块 */
#topBar .search-box{
    margin-top: 3px;
    overflow: hidden;
    position: relative;
    }
    #topBar .search-box input{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 300px;
        height: 30px;
        padding: 0 30px 0 5px;
        margin: 0;
        float: left;
        font: 12px "微软雅黑",Tahoma;
        border-radius: 0;
        line-height: 30px
            border: 1px solid #CCC;
        color: #999;
    }
    #topBar .search-box input:focus{
        background: #FFF;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        color: #666;
    }
    #topBar .search-box .search-btn{
        width: 30px;
        height: 100%;
        position: absolute;
        top: 4px;
        right: 1px;
    }
#topBar .topbar-main .search-box{
    margin-top: 5px;
    margin-right: 20px;    
    }
    #topBar .topbar-main .search-box input{
        width: 290px

    }

/* 开始按钮 */
#topBar .action-box>a{
    display: block;
    width: 80px;
    height: 40px;
    font: 19px "宋体",Tahoma;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    background: #6699FF;
    line-height: 40px;
    }
    #topBar .action-box>.dropdown-menu{
        width: 80px;
        margin: 0;
        background: #333;
        border: 0;
        border-top: 1px solid #FFF;
    }
    #topBar div.action-box li>a{
        padding: 8px 1px;  
        font: 12px "微软雅黑",Tahoma;
        color: #FFF;
        background: #6699FF;
    }
    #topBar div.action-box li>a:hover{
        color: #333;
        background: #3388FF;
    }
    #topBar .action-box:hover{
        cursor: pointer;
    }

/* 登录注册模块 */
#topBar .login-signup{
    width: 105px;
    height: 100%;
    padding: 0;
    margin: 0 5px;
    }
    #topBar .login-signup>div{
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        width: 50px;
        height: 27px;
        float: right;
        cursor: pointer;
        }
        #topBar .login-signup .dropdown-toggle{
            box-sizing:border-box;
            -moz-box-sizing:border-box;
            -webkit-box-sizing:border-box;
            width: 100%;
            height: 40px;
            padding: 7px 0;
            font: 12px "微软雅黑",Tahoma;
            border: 1px solid #FFF;
            border-top: none;
            color: #6699FF;
            }
            #topBar .login-signup .dropdown-toggle>span, #topBar .login-signup .open>.dropdown-toggle:hover>span{
                display: block;
                box-sizing:border-box;
                -moz-box-sizing:border-box;
                -webkit-box-sizing:border-box;
                width: 40px;
                height: 26px;
                margin: 0 auto;
                border: 1px solid #FFF;
                line-height: 24px;
            }
            #topBar .login-signup .dropdown-toggle:hover>span{
                border-color: #6699FF;
            }
        #topBar .login-signup .open>.dropdown-toggle{
            border-color:#6699FF;
            border-bottom: none;
        }
    #topBar .login-signup .dropdown-menu{
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        width: 367px;
        margin: 13px 0 0 0;
        border-left: 1px solid #6699FF;
        border-right: 1px solid #6699FF;
        border-bottom: 1px solid #6699FF;
        border-top: none;
    }
    #topBar .login-signup>.signup-box .dropdown-menu{
        width: 422px;
    }
    #topBar .login-signup .dropdown-menu>.dm-body{
        width: 270px;
        padding: 15px 0 15px 47px;
        float: left;
        border-top: 1px solid #6699FF;
        overflow: hidden;
        }
        #topBar .dm-body .dm-main{
            width: 100%;
            overflow: hidden;
        }
        #topBar .dm-body .form-box{
            width: 100%;
            overflow: hidden;
        }
        #topBar .dm-body .form-box>.form-elem{
            width: 100%;
            margin: 5px 0;
            overflow: hidden;
            float: left;
            }
            #topBar .dm-body .form-box label{
                margin-top: 4px;
                font: 19px "宋体",Tahoma;
                float: left;
                color: #888;
            }
            #topBar .dm-body .form-box input{
                width: 100%;
                float: left;
            }
            #topBar .dm-body .form-box button{
                margin-bottom: 15px;
            }
        #topBar .dm-body .form-box>.form-warning{
            width: 100%;
            height: 30px;
            overflow: hidden;
            float: left;
            }
            #topBar .dm-body .warning{
                display: none;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                width: 100%;
                padding: 5px;
                float: left;
                font: 12px "微软雅黑",Tahoma;
                text-align: center;
                border-radius: 0;
            }
        #topBar .dm-body .dm-footer{
            width: 100%;
            margin-top: 5px;
            overflow: hidden;
            }
            #topBar .dm-body .dm-footer a{
                font: 12px "微软雅黑",Tahoma;
                color: #999;
                cursor: pointer;
                float: right;
            }
            #topBar .dm-body .dm-footer a:hover{
                color: #666;
            }
            #topBar .dm-body .dm-footer span{
                height: 5px;
                padding: 0 5px;
                float: right;
            }
    #topBar .login-signup>.signup-box .dropdown-menu>.dm-body{
        width: 325px;
        padding-top: 25px;
        overflow: hidden;
        }
        #topBar .signup-box .dm-body .item-elem{
            width: 100%;
            margin-bottom: 5px;
            overflow: hidden;
            }
            #topBar .signup-box .dm-body .item-elem>label{
                float: left;
                text-align: left;
                color: #666;
                font: 19px "宋体",Tahoma;
                }
                #topBar .signup-box .dm-body .item-elem>label>i{
                    display: none;
                    margin-left: 10px;
                    color: #66CC66;
                }
            #topBar .signup-box .dm-body .item-elem input{
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                width: 100%;
                height: 28px;
                margin: 0;
                float: left;
            }
            #topBar .signup-box .dm-body .item-elem .elem-hint{
                width: 100%;
                height: 18px;
                margin-top: 2px;
                float: left;
                font: 12px "微软雅黑",Tahoma;
                text-align: left;
                opacity: 0.6;
                }
                #topBar .signup-box .dm-body .item-elem .hint-guide{
                    display: none;
                    color: orange;
                }
                #topBar .signup-box .dm-body .item-elem .hint-warn{
                    display: none;
                    color: red;
                }
                #topBar .signup-box .item-elem.guide .hint-guide{display:block;}
                #topBar .signup-box .item-elem.warn   .hint-warn{display:block;}
                #topBar .signup-box .item-elem.ok        label>i{display:inline;}
        #topBar .signup-box .dm-body button{
            margin-top: 10px;
            margin-bottom: 20px;
        }
        #topBar .signup-box .dm-body>.dm-recstep{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 100%;
            margin-bottom: 5px;
            text-align: left;
            color: #999;
            padding: 0;
            }
        #topBar .signup-box .dm-body button{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 100%;
            margin-bottom: 10px;
        }
        #topBar .signup-box .dm-body .dm-close{
            width: 100%;
            margin: 10px 0;
            color: #9F9F9F;
            text-align: right;
            text-decoration: underline;
            cursor: pointer;
        }
        #topBar .signup-box .dm-body .dm-close:hover{
            color: #666;
        }
        #topBar .login-signup.ed .signup-box.open{
            width: 422px;
            }
            #topBar .login-signup .signuped{
                display: none;
                width: 100%;
                background: #FFF;
                overflow: hidden;
                }
                #topBar .signuped>img{
                    width: 30px;
                    height: 30px;
                    padding-top: 5px;
                    padding-right: 10px;
                    float: right;
                    border: none;
                }
                #topBar .signuped>div{
                    display: none;
                    width: 320px;
                    padding-top: 10px;
                    padding-left: 47px;
                    float: left;
                    font: 19px "宋体",Tahoma;
                    text-align: left;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    color: #999;
                    }
                    #topBar .signuped>div>span{
                        color: #6699FF;
                    }
                    #topBar .signuped>div:hover>span{
                        text-decoration: underline;
                    }
                #topBar .open .signuped>div{
                    display: inline;
                }
        #topBar .login-signup .signup-box .dm-body.after{
            display: none; 
            border: none;
            padding-top: 5px;
        }
        #topBar .signup-box .dm-footer{
            width: 100%;
            }
            #topBar .signup-box .dm-footer .user-agreement{
                float: left;
                }
                #topBar .signup-box .dm-footer .user-agreement>.icheck{
                    float: left;
                    margin-right: 5px;
                }

        #topBar .login-signup.ed .login-box{display: none;}
        #topBar .login-signup.ed .signup-box .dm-body.before{display: none;}
        #topBar .login-signup.ed .signup-box .dm-body.after{display: block;}
        #topBar .login-signup.ed .signup-box .dropdown-toggle{padding-top: 0;}
        #topBar .login-signup.ed .signup-box .dropdown-toggle>span{display: none;}
        #topBar .login-signup.ed .signup-box .signuped{display: block;}
            
#topBar div.user-info{
    display: none;
    height: 100%;
    float: right;
    background: #FCFCFC;
    margin-right: 10px;
    }
    #topBar .user-info>.user-info-header{
        padding: 0 5px;
        height: 100%;
        overflow: hidden;
    }
    #topBar .user-info .user-nick{
        display: none;
        width: 145px;
        height: 100%;
        padding-top: 10px;
        padding-left: 5px;
        margin-right: 8px;
        float: left;
        overflow: hidden;
        font: 14px "微软雅黑",Tahoma;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: none;
        text-align: center;
    }
    #topBar .user-info.open .user-nick{
        display: block;
    }
    #topBar .user-info .user-photo{
        width: 30px;
        height: 30px;
        margin-top: 5px;
        float: right;
        }
        #topBar .user-info .user-photo>img{
            width: 100%;
            height: 100%;
        }
        #topBar .user-info .user-info-menu{
            width: 200px;
            padding-top: 15px;
            margin: 0;
            border: 0;
            overflow: hidden;
            float: left;
            }
            #topBar .user-info .card-box{
                width: 100%;
                margin-bottom: 10px;
                float: left;
                }
                #topBar .user-info .card-box>div{
                    width: 50%;
                    padding: 2px 0;
                    margin: 0;
                    float: left;
                    text-align: center;
                    }
                    #topBar .user-info .value{
                        margin-bottom: 2px;
                        font-size: 23px;
                        font-weight: 900;
                        color: #666;
                    }
                    #topBar .user-info .title{
                        font: 12px "微软雅黑",Tahoma;
                        color: #BBB;
                    }
            #topBar div.user-info div.action{
                width: 100%;
                margin-top: 5px;
                float: left;
                background: #6699FF;
                }
                #topBar div.user-info div.action>div{
                    width: 33.33%;
                    padding: 7px 0;
                    float: left;
                    color: #FFF;
                    font: 19px "宋体",Tahoma;
                }
                #topBar div.user-info div.action>div:hover{
                    cursor: pointer;
                    color: #333;
                    background: #0099FF;
                }
            #topBar div.user-info>div{
                border-right: 1px solid #FFF;
                border-left: 1px solid #FFF;
            }
            #topBar div.user-info.open>div{                
                border-right: 1px solid #6699FF;
                border-left: 1px solid #6699FF;
            }
body.login #topBar .user-box .user-info{display: block;}
body.login #topBar .user-box .login-signup{display: none;}
body #topBar .action-box .my-survey{display: none;}
body.login #topBar .action-box .my-survey{display: block;}
  

#topBar .topbar-sub{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 960px;
    height: 45px;
    padding: 5px 0;
    margin: 0 auto;
    }
    #topBar .topbar-sub .title-box{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        height: 40px;
        padding: 5px 5px 5px 0;
        overflow: hidden;
        font: 27px "宋体",Tahoma;
        text-align: left;
        color: #666;
        }
        #topBar .topbar-sub .title-box>i{
            width: 40px;
            height: 100%;
            margin-right: 15px;
            color: #777;
            overflow: hidden;
        }
    #topBar .topbar-sub .path-box{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        height: 100%;
        margin: 0;
        padding: 15px 0 0 0;
        font: 12px "微软雅黑",Tahoma;
        float: right;
        background: none;
        opacity: 0.5;
        }
        #topBar .topbar-sub .path-box li{
            max-width: 200px;
            _width: expression((documentElement.clientWidth > 200) ? "200px" : "auto");
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-decoration: none;
        }
    #topBar .topbar-sub .path-box:hover{
        opacity: 0.8;
    }
        
/************************
 * 
 * 页面元素显示控制
 *
 ************************/

body.topbar-hover .topbar-sub{display: none;}
body.topbar-hover #topBar.main .nav-box, body.topbar-hover #topBar.main .search-box{display: block;}

#topBar .topbar-main .nav-box>.active, #topBar .topbar-main .nav-box>.active>a{color: #6BB130; border-top-color: #6BB130;}
#topBar .topbar-sub .nav-box>.active, #topBar .topbar-sub .nav-box>.active>a{color: #6BB130; border-bottom-color: #6BB130;}

#topBar.main .topbar-main .search-box, #topBar.main .topbar-main .nav-box{display:none;}
#topBar.main .topbar-sub .way-box, #topBar.main .topbar-sub .title-box{display:none;}

#topBar.sub .topbar-sub .nav-box, #topBar.sub .topbar-sub .search-box{display:none;}

