/*
 * Document    : survey.analyse.css
 * Description : css for survey/analyse.html
 *
 * Created on  : 2013-7-8, 14: 18: 34
 * Author      : ReadYun
 * Copyright   : VixiK
 */

#navBar{
    width: 100%;
    border-bottom: 1px solid #CCC;
    }
    #navBar>div.nav-bar{
        width: 960px;
        height: 40px;
        margin: 10px auto;
        }
        #navBar>div.nav-bar>div{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            line-height: auto;
        }
        #navBar div.nav-bar-left{
            min-width: 750px;
            padding-right: 10px;
            float: left;
            overflow: hidden;
            line-height: auto;
            }
            #navBar div.nav-bar-photo{
                width: 40px;
                height: 40px;
                margin-right: 10px;
                float: left;
                overflow: hidden;
                }
                #navBar  div.nav-bar-photo>div.user-photo>img{
                    width: 100%;
                    height: 100%;
                }
            #navBar div.nav-bar-info{
                width: 700px;
                float: left;
                overflow: hidden;
                line-height: auto;
                }
                #navBar div.nav-bar-info a{
                    cursor: pointer;
                }
                #navBar div.nav-bar-title{
                    width: 100%;
                    float: left;
                    font: 19px "宋体",Tahoma;
                }
                #navBar div.nav-bar-user>div{
                    margin-top: 3px;
                    margin-left: 2px;
                    float: left;
                    font-size: 12px;
                    }
                    #navBar div.user-ext>div{
                        margin-left: 15px;
                        float: left;
                        font-size: 12px;
                        color: #999;
                    }
        #navBar div.nav-bar-right{
            width: 200px;
            height: 100%;
            float: right;
            }
            #navBar div.nav-bar-right>div{
                height: 100%;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                float: right;
            }
            #navBar div.nav-bar-right>div.survey-switch{
                height： 100%;
                float: right;
                text-align: center;
                color: #999;
                }
                #navBar div.survey-switch>button{
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    width: 135px;
                    height: 32px;
                    margin-top: 4px;
                }
                #navBar div.survey-switch.open>button{
                    color: #FFF;
                    background: #CCC;
                }
                #navBar div.survey-switch>div.switch-content{
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    width: 500px;
                    height: 440px;
                    margin: 0;
                    padding: 10px 10px;
                    border-radius: 0;
                    box-shadow: none;
                    -moz-box-shadow: none;
                    -webkit-box-shadow: none;
                    }
                    #navBar div.switch-content>.sc-header{
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        width: 100%;
                        padding: 0 10px;
                        overflow: hidden;
                        }
                        #navBar div.switch-content>.sc-header>div.sc-header-nav{
                            width: 100%;
                            float: left;
                            overflow: hidden;
                            }
                            #navBar div.sc-header-nav ul{
                                margin-bottom: 10px;
                            }
                            #navBar div.sc-header-nav li>a{
                                padding: 5px 10px;
                                border-radius: 0;                                
                            }
                    #navBar div.switch-content .tab-pane>.vkpaging-box{
                        display: none; 
                    }
                    #navBar div.switch-content .vkpaging.active>.vkpaging-box{
                        display: block; 
                    }
                    #navBar div.switch-content .vkpaging.active>.vkpaging-null{
                        display: none; 
                    }
                    #navBar div.switch-content .vkpaging-null>.scn-desc{
                        margin: 50px 0;
                        padding: 0 25px;
                        overflow: hidden;
                        font: 23px "宋体",Tahoma;
                        text-align: left;
                    }
                    #navBar div.switch-content .vkpaging-null>.scn-action>button{
                        width: 280px;
                    }
                    #navBar div.switch-content .vkpaging-body{
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        width: 100%;
                        height: 320px;
                        padding: 0 10px;
                        overflow: hidden;
                        }
                        #navBar .vkpaging-body>.sv-list{
                            width: 100%;
                            padding: 7px 0;
                            float: left;
                            font: 12px "微软雅黑",Tahoma;
                            color: #666;
                            border-bottom: 1px dotted #CCC;
                            }
                            #navBar .vkpaging-body>.sv-list>div.sv-name{
                                float: left;
                            }
                            #navBar .vkpaging-body>.sv-list>div.sv-name>a{
                                color: #666;
                                text-decoration: none;
                            }
                            #navBar .vkpaging-body>.sv-list>div.sv-name>a:hover{
                                color: #0066CC;
                                text-decoration: underline;
                            }
                            #navBar .vkpaging-body>.sv-list>div.sv-state{
                                float: right;
                            }
                        #navBar .vkpaging-body>.sv-list:hover{
                            background: #F9F9F9;
                            cursor: pointer;
                        }
                        #navBar .vkpaging-body>.sv-list:hover>.sv-name>a{
                            color: #333;
                        }
                    #navBar div.switch-content .vkpaging-nav{
                        padding-right: 20px;
                        margin-top: 30px;
                    }
#Main{
    width: 960px;
    min-height: 500px;
    padding: 0;  
    margin: 20px auto;
    overflow: hidden;
}    
#sideBar{
    width: 140px;
    float: right;
    overflow: hidden; 
    }   
    #sideBar ul.nav{
        width: 95%;
        padding-bottom: 20px;
        font: 19px "宋体",Tahoma;
        }
        #sideBar ul.nav>li>a{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            padding-left: 30px;
            border-radius: 0;
            color: #666;
        }
#statistContent{
    width: 800px;
    float: left;
    overflow: hidden;
    }    
    #statistContent>div.tab-pane{
        width: 100%;
        margin-bottom: 30px;
        float: left;
        overflow: hidden;
    }    
#surveyStats>div{
    margin-bottom: 50px;
    overflow: hidden;
}    
#itemStats{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    border: 1px solid #E8E8E8;
    }
    #itemStats>div.stats-desc{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        padding: 5px 0 10px 0;
        float: left;
        overflow: hidden;
        font-family: "宋体",Tahoma;
        }
        #itemStats>div.stats-desc>div{
            width: 25%; 
            float: left;
            line-height: normal;
            text-align: center;
            }
            #itemStats>div.stats-desc div.item-num{
                width: 100%;
                font-size: 45px;
                font-weight: 900;
                color: #777;
            }
            #itemStats>div.stats-desc div.item-title{
                width: 100%;
                font-size: 19px;
                color: #9F9F9F  ;
            }
    #itemStats>div.stats-graphs{
        width: 100%;
        height: 10px;
        float: left;
        }
        #itemStats>div.stats-graphs>div{
            height: 100%;
            float: left;
        }
        #itemStats>div.stats-graphs>div.line-radio{
            background: #FF7F50;
        }
        #itemStats>div.stats-graphs>div.line-checkbox{
            background: #87CEFA;
        }
        #itemStats>div.stats-graphs>div.line-textarea{
            background: #FFD700;
        }

    #surveyStats .sv-stats .sv-stats-header{
        width: 100%;
        overflow: hidden;
        border-bottom: 5px solid #CCC;
        }
        #surveyStats .sv-stats .sv-stats-header>label{
            float: left;
            overflow: hidden;
            font: 25px "宋体",Tahoma;
            font-weight: 900;
            color: #666;
        }
    #surveyStats .sv-stats .sv-stats-body{
        width: 100%;
        height: 350px;
        overflow: hidden;
        }
        #surveyStats .sv-stats .sv-stats-body>.ssb-side{
            width: 120px;
            height: 100%;
            float: left;
            background: #F3F3F3;
            }
            #surveyStats .sv-stats .sv-stats-body>.ssb-side>.sside-elem{
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                width: 100%;
                margin: 20px 0;
                text-align: center;
            }
            #surveyStats .sv-stats .sv-stats-body>.ssb-side .stats-value{
                font-size: 21px;
                margin-bottom: 5px;
                color: #666;
            }
            #surveyStats .sv-stats .sv-stats-body>.ssb-side .stats-title{
                color: #BBB;
            }
        #surveyStats .sv-stats .sv-stats-body>.ssb-main{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 680px;
            height: 100%;
            float: right;
            }
            #surveyStats .sv-stats-body .stats-graphs{
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                width: 100%;
                height: 100%;
                /*background: yellow;*/
                font-size: 12px;
            }
            #areaStats .sv-stats-body .stats-graphs{
                padding-top: 10px;
            }
            #userStats .ssb-side .user-prop-elem{
                width: 100%;
                padding: 20px 0;
                float: left;
                overflow: hidden;
                cursor: pointer;
                font: 25px "宋体",Tahoma;
                color: #999;
                text-align: center;
                border-top: 2px solid #F3F3F3;
                border-bottom: 2px solid #F3F3F3;
            }
            #userStats .ssb-side .user-prop-elem.active{
                background: #FFF;
                color: #666;
                font-weight: 900;
                border-top-color: #CCC;
                border-bottom-color: #CCC;
            }
            #userStats .ssb-side .user-prop-elem:first-child{
                border-top: none;
            }
            #userStats .ssb-side .user-prop-elem:hover{
                color: #666;
            }
            #userStats .stats-graphs>div{
                display: none;
                width: 100%;
            }
            #userStats .stats-graphs>div.active{
                display: block;
            }

#questionStats{
    width: 800px;
    overflow: hidden;
    }
    #questionStats>div{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        float: left;
        }
        #questionStats>.qt-stats-header>select{
            width: 100%;
            margin: 0;
            font: 19px "宋体",Tahoma;
        }
#questionStats>.qt-stats-body{
    margin: 0;
    padding-top: 20px;
    }
    .qt-stats-body>div.question{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        margin-bottom: 30px;
        overflow: hidden;
        border: 1px solid #CFCFCF;
        }
        div.question>div.item-header{
            width: 100%;
            margin: 0;
            border-bottom: 1px solid #CFCFCF;
            float: left;
            }
            div.question>div.item-header>div.qt-name{
                margin: 8px;
                float: left;
                font: 19px "宋体",Tahoma;  
            }
        div.question>div.qt-text{
            width: 100%;
            overflow: hidden;
            }
            div.question>div.qt-text>div.text-init{
                width: 100%;
                overflow: hidden;
                }
                div.question>div.qt-text>div.text-init>div{
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    padding: 10px 0;
                    font: 21px "宋体",Tahoma;
                    color: #999;
                    text-align: center;
                }
                div.question>div.qt-text>div.text-init>button{
                    display: none;
                    height: 40px;
                    font: 19px "宋体",Tahoma;
                }
                div.question>div.qt-text.data>div.text-init>div{
                    display: none;
                }
                div.question>div.qt-text.data>div.text-init>button{
                    display: block;
                }
            div.question>div.qt-text>div.text-body{
                display: none;
                width: 100%;
                overflow: hidden;
                }
                div.question div.text-body .text-list{
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    width: 100%;
                    min-height: 100px;
                    padding: 20px 10px;
                    overflow: hidden;
                    }
                    div.question .text-list .tl-elem{
                        width: 100%;
                        margin-bottom: 20px;
                        overflow: hidden;
                        }
                        div.question .text-list .tl-elem .photo-sex{
                            width: 40px;
                            height: 40px;
                            margin-right: 10px;
                            float: left;
                            background: #EEE;
                            }
                        div.question .text-list .tl-elem .text-main{
                            width: 720px;
                            float: right;
                            }
                            div.question .text-list .tl-elem .user-prop{
                                width: 100%;
                                padding-bottom: 5px;
                                margin-bottom: 5px;
                                float: right;
                                border-bottom: 1px dotted #CCC;
                            }
                            div.question .text-list .tl-elem .user-prop>div{
                                line-height: 15px;
                                padding: 0;
                                padding-right: 10px;
                                margin-right: 10px;
                                float: left;
                                border-right: 1px solid #CCC;
                                color: #666;
                            }
                            div.question .text-list .tl-elem .user-prop>div:last-child{
                                border: none;
                            }
                            div.question .tl-elem .user-prop .usp-area span{display:none;}
                            div.question .tl-elem .user-prop .usp-area.province.city span{display:inline;}
                            div.question .text-list .tl-elem .text-content{
                                width: 100%;
                                overflow: hidden;
                            }
                div.question div.text-body .text-foot{
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    width: 100%;
                    padding: 0 10px;
                    margin-bottom: 20px;
                    overflow: hidden;
                    }
                    div.question div.text-body .text-foot>div{
                        width: 50%;
                        overflow: hidden;
                        float: left;
                        height: 40px;
                        }
                        div.question div.text-body .text-foot>.tf-desc>button{
                            width: 100%;
                            height: 100%;
                            margin: 0;
                            padding: 0;
                            border: none;
                            font: 19px "宋体",Tahoma;
                            color: #999;
                            text-align: left;
                            background: none;
                            cursor: default;
                            }
                            div.question div.text-body .tf-desc>button>span{
                                margin: 0 10px;
                                color: #666;
                                font-weight: 900;
                            }
                        div.question div.text-body .text-foot>.tf-button>button{
                            box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            width: 100%;
                            height: 100%;
                            margin: 0;
                            padding: 0;
                            font: 19px "宋体",Tahoma;
                        }
            div.question>div.qt-text.active>div.text-init{display:none;}
            div.question>div.qt-text.active>div.text-body{display:block;}
        div.question div.item-option{
            width: 780px;
            padding-top: 10px;
            margin: 0 auto;
            overflow: hidden;
        }
        table.table-bordered.table-thin th{
            padding: 5px;
            background: #F9F9F9;
            font: 14px "微软雅黑",Tahoma;  
            text-align: center;
            border-radius: 0;
        }    
        table.table-bordered.table-thin td{
            padding: 3px;
            font: 12px "微软雅黑",Tahoma;  
        }    
        table.table-bordered .option-seq{
            width: 25px;
            text-align: center;
        }
        table .option-name{
            width: 380px;
        }
        table.table-bordered .choose-num{
            width: 45px;
            text-align: center;
        }
        table.table-bordered .option-stats{
            width: 160px;
            }    
            table.table-bordered .option-stats div.stats-ratio{
                padding: 0;
                margin-left: 10px;
                float: left;
            }
            table.table-bordered .option-stats div.stats-line{
                width: 140px;
                height: 12px;
                margin-top: 3px;
                margin-left: 5px;
                float: left;
                border: 0;
                border-radius: 0;
                background: #F5F5F5;
                }
                table.table-bordered .option-stats div.stats-line div.ui-progressbar-value{
                    border-color: #6bb130;
                    background: #6bb130;
                }
        div.question>div.item-graphs{
            width: 100%;
            margin-top: 10px;
            overflow: hidden;
            }
            div.question>div.item-graphs .item-graphs-header{
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                width: 100%;
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 12px;
                }
                div.question>div.item-graphs .item-graphs-header>li{
                    overflow: hidden;
                    border-radius: 0;
                    cursor: pointer;
                    }
                    div.question>div.item-graphs .item-graphs-header>li>a{
                        padding: 5px 10px 15px 10px;
                        border-radius: 0;
                        font: 19px "宋体",Tahoma;
                        color: #666;
                    }
                div.question>div.item-graphs .item-graphs-header>li.option-select{
                    float: right;
                    overflow: hidden;
                    }
                div.question>div.item-graphs .item-graphs-header select{
                    width: 450px;
                    padding: 4px;
                    overflow: hidden;
                    font: 19px "宋体",Tahoma;
                }
            div.question>div.item-graphs .item-graphs-body{
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                width: 100%;
                padding-left: 10px;
                padding-right: 10px;
                }
                div.question>div.item-graphs .item-graphs-body>div{
                    display: none;
                }
                div.question>div.item-graphs .item-graphs-body>div.active{
                    display: block;
                }
                div.question>div.item-graphs .item-graphs-body select{
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    width: 100%;
                    font: 19px "宋体",Tahoma;
                }
                div.question>div.item-graphs .item-graphs-body .graphs-box{
                    width: 100%;
                    min-height: 400px;
                    padding-top: 5px;
                    margin-bottom: 10px;
                }
            div.question>div.item-graphs .item-graphs-action{
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                width: 100%;
                padding-top: 10px;
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 10px;
                overflow: hidden;
                border-top: 1px solid #CCC;
                }
                div.question .item-graphs-action>.iga-left{
                    float: left;
                    }
                    div.question .item-graphs-action>.iga-left>button{
                        float: left;
                        margin-right: 10px;
                    }
                div.question .item-graphs-action>.iga-right{
                    float: right;
                    }
                    div.question .item-graphs-action>.iga-right>button{
                        float: right;
                        margin-left: 10px;
                    }
            div.question>div.item-graphs>div.action-box{
                width: 100%;
                height: 40px;
                }
                div.item-graphs>div.action-box>div{
                    width: 50%;
                    float: left;
                }
                div.item-graphs>div.action-box>div.action-prop>select{
                    width: 180px;
                    float: left;
                    font: 19px "宋体",Tahoma;
                }
                div.item-graphs>div.action-box>div.action-option>select{
                    width: 400px;
                    float: right;
                    font: 19px "宋体",Tahoma;  
                }
            div.question>div.item-graphs>div.graphs-box{
                width: 720px;
                margin: 20px 10px;
                overflow: hidden;
                }
                div.question>div.item-graphs>div.graphs-box>div.nochart{
                    margin: 30px auto;
                    font: 21px "宋体",Tahoma;  
                    color: #999999;
                }

#questionStats.single select.qt-select{
    border-bottom: 0;
}
#questionStats.single .qt-stats-body{
    padding-top: 0;
    }
    #questionStats.single div.question>.item-header{
        display: none;
    }

/********* 调查内容模块样式 *********/

#surveyContent{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    min-height: 400px;
    padding-top: 20px;
    padding-bottom: 10px;
    overflow: hidden;
    border: 1px solid #CCC;
    }
    div.question-item{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        margin-bottom: 5px;
        padding: 0 0 10px 0;
        overflow: hidden;
        }
        div.question-item>div.qt-title{
            width: 100%;
            margin: 10px 0;
            overflow: hidden;
            font: 19px "宋体",Tahoma;  
            color: #666;
            opacity: 0.8;
            }
            div.question-item>div.qt-title>div.qt-seq{
                width: 30px;
                height: 21px;
                margin-right: 5px;
                padding: 2px;
                padding-right: 5px;
                float: left;
                text-align: right;
                color: #333 ;
                background: #F3F3F3;
            }
            div.question-item>div.qt-title>div.qt-name{
                width: 630px;
                float: left;
                padding: 2px;
            }
            div.question-item>div.qt-title>div.qt-type{
                width: 110px;
                padding: 2px;
                font: 19px "宋体",Tahoma;  
                color: #999;
                text-align: center;
                float: right;
                border-bottom: 1px solid #CCC;                
            }
        div.question-item:hover>div.qt-title{
            opacity: 1;
            }
            div.question-item:hover>div.qt-title>div.qt-seq{
                border-color: #CCC;
            }
        div.question-item>div.qt-option{
            width: 650px;
            margin-left: 45px;
            }
            div.question-item .vf-elem-option{
                font: 19px "宋体",Tahoma;
                color: #999;
                overflow: hidden;
            } 
            div.qt-option textarea{
                width: 500px;
                height: 150px;
                font: 12px "宋体",Tahoma;
                box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
            }
            div.qt-option textarea:hover{
                border-color: #AFAFAF;
            }
            div.qt-option textarea:focus{
                border-color: #999;
            }

/********* 调查设置模块样式 *********/

#surveySetting>div{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid #CCC;
    }
    #surveySetting .sp-elem-header{
        width: 100%;
        height: 35px;
        overflow: hidden;
        font: 19px "宋体",Tahoma;
        border-bottom: 1px solid #CCC;
        }
        #surveySetting .sp-elem-header>span{
            display: block;
            float: left;
            width: 10px;
            height: 100%;
            margin-right: 10px;
            background: #3399FF;
        }
        #surveySetting .sp-elem-header>div{
            float: left;
            margin-top: 7px;
        }
    #surveySetting .sp-elem-content{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        padding: 5px 20px;
        font: 19px "宋体",Tahoma;
        overflow: hidden;
        }
        #surveySetting .spe-item{
            width: 100%;
            padding: 7px 0;
            font: 19px "宋体",Tahoma;
            overflow: hidden;
            border-bottom: 1px dotted #CCC;
            }
            #surveySetting .spe-item .spe-item-desc{
                width: 240px;
                float: left;
            }
            #surveySetting .spe-item .spe-item-value{
                float: left;
            }
            #surveySetting .spe-item .spe-item-action{
                width: 200px;
                float: right;
                }
                #surveySetting .spe-item .spe-item-action>button{
                    float: right;
                    margin: 0;
                    padding: 0;
                    font: 19px "宋体",Tahoma;
                }
        #surveySetting .spe-item:last-child{
            border: none;
        }
        #surveySetting .spe-item-content{
            width: 510px;
            float: left;
            }
            #surveySetting .spe-item-content>.recommend-rule{
                width: 100%;
                float: left;
                margin-bottom: 10px;
            }
            #surveySetting .spe-item-content .recommend-rule-desc{
                width: 70px;
                float: left;
            }
            #surveySetting .spe-item-content .recommend-rule-value{
                width: 440px;
                float: left;
            }
        #surveySetting .sv-desc .sp-elem-content{
            min-height: 100px;
            padding-left: 25px;
            overflow: hidden;
            color: #999;
        }

#surveyComment>div{
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
    }
    #surveyComment .comment-main .comment-no{
        display: none;
        width: 100%;
        overflow: hidden;
        font: 19px "宋体",Tahoma;
        color: #999;
    }
    #surveyComment .comment-main .comment-ok{
        width: 100%;
        overflow: hidden;
        color: #999;
        }
        #surveyComment .comment-main .comment-ok .comment-list{
            width: 760px;
            padding-top: 10px;
            margin: 50px 0 30px 0;
            overflow: hidden;
            border-top: 1px dotted #CCC;
            }
            #surveyComment .comment-ok .comment-list>.cl-elem{
                width: 100%;
                overflow: hidden;
                padding: 10px 0;
                margin-bottom: 5px;
                border-bottom: 1px dotted #CCC;
                }
                #surveyComment .comment-ok .cl-elem .cl-elem-sub{
                    width: 40px;
                    margin-right: 20px;
                    float: left;
                }
                #surveyComment .comment-ok .cl-elem .cl-elem-main{
                    width: 700px;
                    float: left;
                    }
                    #surveyComment .comment-ok .cl-elem .cm-user>.nick{
                        width: 600px;
                        text-align: left;
                        float: left;
                    }
                    #surveyComment .comment-ok .cl-elem .cm-user>.time{
                        width: 80px;
                        float: right;
                        text-align: right;
                    }
                    #surveyComment .comment-ok .cl-elem .cm-body{
                        width: 100%;
                        margin-top: 3px;
                        float: left;
                        text-align: left;
                        color: #666;
                    }
            #surveyComment .comment-ok .comment-list>.cl-elem-more{
                width: 100%;
                overflow: hidden;
                margin-top: 30px;
            }
    #surveyComment .comment-my{
        width: 100%;
        overflow: hidden;
        }
        #surveyComment .comment-my .cm-sub{
            width: 40px;
            float: left;
            margin-right: 20px;
            }
            #surveyComment .comment-my .cm-sub>img{
                width: 100%;
                height: 40px;
                float: left;
            }
        #surveyComment .comment-my .cm-main{
            width: 700px;
            float: left;
            overflow: hidden;
            }
            #surveyComment .comment-my .cm-input{
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                width: 100%;
                min-height: 100px;
                _height: 100px;
                padding: 3px;
                margin-bottom: 20px;
                float: left;
                overflow-x: hidden;
                overflow-y: auto;
                _overflow-y: visible;
                border: 1px solid #CCC;
            }
            #surveyComment .comment-my .cm-input:focus, #surveyComment .comment-my .cm-input:hover{
                border-color: #66CC66;
            }
            #surveyComment .comment-my .cm-submit>button{
                padding: 5px 20px;
                float: right;
            }


#Footer{
    border-top: 1px solid #CCC;
}
