/*
 * Document    : answer.answer.css
 * Description : CSS for Survey/answer.html
 *
 * Created on  : 2012-9-25
 * Author      : ReadYun
 * Copyright   : VixiK
 */

#Main{
    margin: 20px auto;
    width: 960px;
    overflow: hidden;
    }
    #Main>div{
        width: 100%;
        overflow: hidden;
    }

/************************ 调查参与区域样式 ************************/

#answerBox .ans-box-sub{
    width: 100%;
    overflow: hidden;
    position: fixed;
    left: 0;
    }
#svSider{
    width: 960px;
    margin: 5px auto;
    overflow: hidden;
    text-align: left;
}
body.topbar-open.topbar-hover #svSider{
    margin-top: 40px;
}
#hintBar{
    width: 35px;
    float: left;
    overflow: hidden;
    font: 12px "宋体",Tahoma;
    text-align: right;
}
#itemFlag{
    width: 100%;
    overflow: hidden;
    }
    #itemFlag>div{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        float: right;
        overflow: hidden;
        }
    #itemFlag>div:hover{
        cursor: pointer;
        opacity: 1;
        background: #EEE;
        }
        #itemFlag span{
            margin-left: 5px;
            float: right;
            width: 5px;
            height: 14px;
            border-right: 1px solid #999;
            border-top: 1px solid #999;
        }
    #itemFlag>.ok>span{
        color: #FFF;
        background: #6BB130;
    }
#aswProgress{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    padding: 3px 0;
    overflow: hidden;
    font: 12px Tahoma;
    border-right: 1px solid #999;
    border-top: 1px solid #999;
    text-align: center;
}
#answerBox .ans-box-main{
    width: 880px;
    padding: 0;  
    margin: 0;
    float: right;
    overflow: hidden;
    position: relative;
    right: 0;
    z-index: 20;
    }

#svHeader{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    float: right;
    overflow: hidden;
    position: relative;
    }
    #svHeader a.sv-title{
        display: block;
        width: 100%;
        margin-bottom: 5px;
        color: #333;
        font: 19px "宋体",Tahoma;
        text-align: center;
    }
    #svHeader .sh-main>.sv-title>a:hover{
        color: #0033FF;
    }
    #svHeader .sv-desc{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        padding: 10px 20px;
        margin-top: 5px;
        color: #999;
        font: 12px "微软雅黑",Tahoma;
        border-top: 1px solid #CCC;
        text-align: left;
    }
#svBody{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    float: right;
    }
#question{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    min-height: 400px;
    _height: expression((documentElement.clientHeight < 400) ? "400px" : "auto");
    padding: 20px;
    float: left;
    overflow: hidden;
    text-align: left;
    background-color: #FFF;
    border: 1px solid #CCC;
    }
    #question .question{
        width: 100%;
        margin: 10px 0;
        float: left;
        }
        #question .question .qt-header{
            width: 100%;
            margin-bottom: 10px;
            padding-bottom: 5px;
            overflow: hidden;
            font: 19px "宋体",Tahoma;
            text-align: center;
            color: #666;
            border-bottom: 1px dotted #CCC;
            }
            #question .question .qt-seq{
                width: 40px;
                float: left;
                text-align: left;
                }
                #question .question .qt-seq>span{
                    float:right;
                    font: 16px Tahoma;
                    color: red;
                    margin-top: -1px;
                    margin-right: 1px;
                }
            #question .question .qt-title{
                width: 798px;
                float: left;
                text-align: left;
            }
            #question .question:hover .qt-header{
                color: #333;
            }
        #question .question .qt-body{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 100%;
            padding-left: 41px;
            float: left;
            color: #666;
            }
            #question .question .qt-zg .vk-input{
                width: 400px;
                color: #666;
            }
            #question .question .qt-zg div.vk-input{
                min-height: 78px;
                _height: expression((documentElement.clientHeight < 78) ? "78px" : "auto");
            }
    #question .question .pf-item>div{
        margin: 10px 10px 0 0;
        float: left;
        overflow: hidden;
        font: 19px "宋体",Tahoma;
        }
        #question .question .pf-item .pr-desc{
            padding-top: 1px;
        }
        #question .question .pf-item .pr-mid{
            margin-top: 9px;
            border: 1px solid #CCC;
            border-left: none;
        }
        #question .question .pf-item .pr-mid>span{
            min-width: 25px;
            _width: expression((documentElement.clientWidth < 25) ? "25px" : "auto");
            height: 23px;
            display: block;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            margin: 0;
            float: left;
            color: #666;
            text-align: center;
            border-right: none;
            cursor: pointer;
            border-left: 1px solid #CCC;
        }
        #question .question .pf-item .pr-mid>span.ok, #question .question .pf-item .pr-mid>span:hover{
            color: #FFF;
            background: #6699FF;
        }
        #question .question .pf-option .vf-elem-option{
            width: 100%;
            float: left;
            margin-bottom: 5px;                
            font: 12px "微软雅黑",Tahoma;
            }
            #question .question .pf-option .val-select{
                margin-top: -3px;
                margin-right: 5px;
                float: left;
                cursor: pointer;
                font: 19px "宋体",Tahoma;
            }
            #question .question .pf-option .val-select span{
                width: 16px;
                float: left;
                text-align: center;
            }
            #question .question .pf-option .val-select span:hover{
                color: #000;
            }
            #question .question .pf-option .val-select .vs-btn>.dropdown-toggle{
                width: 25px;
                margin-top: 2px;
                float: left;
                border: none;
                font-size: 16px;
                color: #666;
                text-align: center;
            }
            #question .question .vf-elem-option.ok .val-select .vs-btn>.dropdown-toggle,
            #question .question .vf-elem-option.ok .val-select .vs-btn>.dropdown-toggle:hover{
                color: #6699FF;
                font-weight: 900;
            }
            #question .question .pf-option .val-select .vs-btn>.dropdown-toggle:hover{
                color: #333;
                text-decoration: none;
            }
            #question .question .pf-option .val-select .vs-btn>.dropdown-menu{
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                min-width: 25px;
                padding: 0;
                margin: 0;
                float: left;
                font-size: 14px;
                text-align: center;
                border-radius: 0;
                border-color: #999;
                border-top: none;
                border-bottom: none;
                box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
                }
                #question .question .pf-option .val-select .vs-btn .vs-option{
                    height: 20px;
                }
                #question .question .pf-option .val-select .vs-btn .vs-option:hover{
                    color: #FFF;
                    background: #3399FF;
                }
        #question .question .qt-option{
            width: 100%;
            overflow: hidden;
            }
            .qt-option label.vf-elem-option{
                width: 100%;
                margin-bottom: 4px;
                float: left;
                font: 12px "微软雅黑",Tahoma;
                color: #666;
                }
                .qt-option .vf-elem-option>div{
                    top: 0px;
                    margin-right: 5px;
                }
            }
        #question .question .custom-option{
            display: none;
            margin-top: 5px;
            overflow: hidden;
            font-family: "微软雅黑",Tahoma;
            }
            .question .custom-option>.custom-opt-header{
                margin-top: 10px;
                overflow: hidden;
                }
                .question .custom-option button{
                    height: auto;
                    margin-right: 20px;
                    padding: 5px 10px;
                    cursor: pointer;
                }
                .custom-option button.button>i{
                    margin-right: 5px;
                    font-size: 12px;
                }
            .custom-option>.custom-opt-content{
                width: 600px;
                padding: 10px;
                margin-top: 10px;
                float: left;
                border: 1px solid #BBB;
                }
                .custom-option .custom-opt-content label{
                    font-size: 14px;
                    color: #999;
                }
                .custom-option .custom-opt-content input{
                    width: 550px;
                    padding: 2px 5px;
                    font: 12px "微软雅黑",Tahoma;
                    color: #333;
                }
                .custom-option .custom-opt-content select{
                    width: 563px;
                    padding: 2px;
                    font: 12px "微软雅黑",Tahoma;
                }
                .custom-option .option-ele{
                    width: auto;
                    margin-right: 20px;
                    float: left;
                    overflow: hidden;
                    font-style: italic;
                    float: left;
                    }
                    .custom-option .option-ele>.co-input-name{
                        float: left;
                        padding-right: 10px;
                    }
            .custom-option>.custom-opt-result{
                overflow: hidden;
                }
                .custom-opt-result>.cor-option .co-input-name{
                    float: left;
                }
                .custom-opt-result>.cor-alter{
                    float: left;
                    height: 18px;
                }
                .custom-opt-result>.cor-alter>i{
                    margin-right: 10px;
                    font-size: 17px;
                    cursor: pointer;
                    color: #999;
                }
                .custom-opt-result>.cor-alter>i:hover{
                    color: #666;
                }
                .custom-option>.custom-opt-result>div{
                    margin-right: 30px;
                    float: left;
                }
        .custom-option>div{display: none;}
        .custom-option[data-state='-1']>.custom-opt-header{display: block;}
        .custom-option[data-state='0']>.custom-opt-content{display: block;}
        .custom-option[data-state='1']>.custom-opt-result {display: block;}
#submit{
    width: 100%;
    margin: 50px 0;
    float: left;
    overflow: hidden;
    }
    #submit>button{
        font: 23px "宋体",Tahoma;
        letter-spacing: 2px;
    }
    #submit>button.submit, body.login #submit>button.login{
        display: none;
    }
    body.login #submit>button.submit{
        display: block;
    }
    
#afterBox{
    display: none;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    }
    #afterBox>div{
        padding: 20px 0;
        margin: 10px auto;
        overflow: hidden;
        text-align: center;
        font-family: "宋体",Tahoma;
    }
    #afterBox label{
        display: inline;
        margin: 10px auto;
        padding: 5px 30px;
        overflow: hidden;
        text-align: center;
        border-bottom: 1px solid #333;
        font: 35px "宋体",Tahoma;
        cursor: auto;
    }
    #afterBox .after-elem-content{
        width: 100%;
        margin-top: 5px;
        overflow: hidden;
        }
        #afterBox .after-elem-content>div{
            width: 50%;
            padding: 10px 20px;
            float: left;
            overflow: hidden;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
        #afterBox .after-elem-content>.after-elem-content-left>div{
            float: right;
            overflow: hidden;
        }
        #afterBox .after-elem-content>.after-elem-content-right>div{
            float: left;
            overflow: hidden;
        }

    #thanks{
        color: orange;
        font-weight: 900;
        }
        #thanks>label{
            font-size: 49px;
            border-bottom: 5px solid orange;
            }
            #thanks i{
                margin-right: 20px;
            }
    #reward{
        color: orange;
        font-weight: 900;
        }
        #reward>label{
            border-bottom: 1px solid orange;
        }
        #reward .reward-elem{
            font-size: 35px;
            }
            #reward .reward-elem>div{
                width: 100%;
                margin-bottom: 15px;
            }
            #reward .reward-elem>.reward-value{
                line-height: normal;
                text-align: center;
            }
    #next{
        width: 100%;
        overflow: hidden;
        background: #6BB130;
        }
        #next>.after-elem-content{
            width: 960px;
            margin: 0 auto;
            }
            #next .next-elem{
                font:17px "宋体",Tahoma;
                text-align: center;
                color: #FFF;
                }
                #next .after-elem-content-left>.next-elem>div{
                    width: 170px;
                    float: right;
                    margin: 10px;
                    cursor: pointer;
                }
                #next .after-elem-content-right>.next-elem>div{
                    width: 170px;
                    float: left;
                    margin: 10px;
                    cursor: pointer;
                }
                #next .next-elem>div:hover{
                    color: #666;
                }
                #next .next-elem>div>i{
                    font-size: 55px;
                    text-align: center;
                }

    #recommBox>.after-elem-content>div{
    float: none;
    }
    #recommBox .recomm-sv-type{
        padding: 0;
        margin: 10px auto;
        overflow: hidden;
        }
        #recommBox .recomm-sv-type>div{
            display: inline;
            padding: 5px;
            margin: 0 5px;
            overflow: hidden;
            font:17px "宋体",Tahoma;
            border: 1px solid #CCC;
        }
        #recommBox .recomm-sv-type>div:hover{
            cursor: pointer;
            border-color: #666;
        }
        #recommBox .recomm-sv-type>.active{
            background: #EEE;
        }
    #recommBox .recomm-sv-list{
        margin: 5px auto;
        padding: 5px 0;
        overflow: hidden;
        background: #EEE;
        }


#Footer{
    margin-top: 50px;
    border-top: 1px solid #CCC;
}