    /*
 * Document    : survey.trade.css
 * Description : CSS for Survey/trade.html
 *
 * Created on  : 2014-11-7
 * Author      : ReadYun
 * Copyright   : VixiK
 */

#Main{
    width: 960px;
    margin: 20px auto;
    overflow: hidden;
    font-family: "微软雅黑",Tahoma;
}

#mainLeft{
    width: 680px;
    float: left;
    overflow: hidden;
}
#mainRight{
    width: 240px;
    float: right;
}

#surveyHeader{
    width: 100%;
    overflow: hidden;
    }
    #surveyHeader .sh-main{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 80px;
        height: 65px;
        padding: 3px 15px;
        float: left;
        font: 25px "宋体",Tahoma;
        color: #FFF;
        background: #6BB130;
    }
    #surveyHeader .sh-sub{
        width: 580px;
        float: right;
        overflow: hidden;
        }
        #surveyHeader .sv-trade-sub{
            width: 100%;
            height: 34px;
            float: left;
            }
            #surveyHeader .sv-trade-name{
                float: left;
                font: 21px "宋体",Tahoma;
                color: #555;
                font-weight: 900;
            }
            #surveyHeader .sv-trade-follow{
                float: right;
                }
                #surveyHeader .sv-trade-follow>div{
                    margin-top: 1.5px;
                    margin-right: 10px;
                    float: right;
                    color: #777;
                }
                #surveyHeader .sv-trade-follow>button{
                    float: right;
                    padding: 1px 10px;
                }
        #surveyHeader .sv-list-nav a{
            padding: 5px 10px;
            border-radius: 0;
            color: #666;
       }

#surveyList{
    width: 100%;
    overflow: hidden;
    }
    #surveyList>div.sv-list-body{
        width: 100%;
        margin-bottom: 10px;
        overflow: hidden;
        float: left;
        }
        #surveyList .sv-list-elem{
            width: 100%;
            padding-bottom: 10px;
            margin-bottom: 10px;
            overflow: hidden;
            float: left;
            border-bottom: 1px dotted #CCC;
            }
            #surveyList .sv-list-elem .sv-title{
                width: 100%;
                height: 24px;
                overflow: hidden;
                float: left;
                }
                #surveyList .sv-list-elem .sv-name{
                    max-width: 500px;
                    float: left;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font: 19px "宋体",Tahoma;
                }
                #surveyList .sv-list-elem .sv-time{
                    width: 100px;
                    float: right;
                    overflow: hidden;
                    color: #999;
                    text-align: right;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                #surveyList .sv-list-elem .sv-follow{
                    display: none;
                    float: right;
                    height: 18px;
                }
                #surveyList .sv-list-elem:hover .sv-time{
                    display: none;
                }
                #surveyList .sv-list-elem:hover .sv-follow{
                    display: inline;
                }
                #surveyList .sv-list-elem .sv-desc{
                    width: 100%;
                    float: left;
                    font: 12px "微软雅黑",Tahoma;
                    color: #999;
                }

        #surveyList .sv-list-elem .sv-prop{
            width: 100%;
            float: left;
            overflow: hidden;
            font-size: 12px;
            color: #666;
            }
            #surveyList .sv-list-elem .sv-prop>div{
                float: left;
                margin-right: 20px;
            }
            #surveyList .sv-list-elem .sv-prop a{
                float: left;
                color: #666;
            }
            #surveyList .sv-list-elem .sv-prop a:hover{
                color: #006699;
            }
            #surveyList .sv-list-elem .sv-prop i{
                margin-top: 3px;
                margin-right: 3px;
                font-size: 14px;
                float: left;
            }
            #surveyList .sv-list-elem .sv-type>span{
                margin: 0 3px;
                float: left;
            }
            #surveyList .sv-list-elem .sv-prop>.user-name{
                max-width: 300px;
                float: left;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                }
                #surveyList .sv-list-elem .user-nick img{
                    width: 15px;
                    height: 15px;
                    margin-top: -2px;
                    margin-right: 3px;
                }

    #surveyList>div.sv-list-footer{
        width: 100%;
        float: left;
        font-size: 14px;
        }
        #surveyList>div.sv-list-footer>div{
            float: right;
            }
            #surveyList>div.sv-list-footer .paging-go{
                width: 130px;
                color: #666;
                }
                #surveyList .paging-go span.go{
                    padding-top: 1px;
                    float: left;
                }
                #surveyList .paging-go span.page{
                    padding-top: 1px;
                    float: right;
                }
                #surveyList .paging-go input{
                    width: 40px;
                    height: 10px;
                    margin: 0 5px;
                }
            #surveyList>div.sv-list-footer .paging-nav{
                float: left;
                overflow: hidden;
                }
            #surveyList>div.sv-list-footer .paging-nav>div{
                float: left;
                }

#mainRight>div{
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 10px;
    float: left;
    }
    #switchBox button{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        margin: 0;
    }
    #switchBox.open button{
        color: #FFF;
        background: #CCC;
        margin: 0;
        }
        #switchBox .switch-content{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 400px;
            margin: 0;
            padding: 10px;
            overflow: hidden;
            border-radius: 0;
            }
            #switchBox .switch-trade-elem{
                width: 90px;
                margin: 10px 0;
                float: left;
                font-size: 14px;
                cursor: pointer;
                color: #999;
                text-align: center;
            }
            #switchBox .switch-trade-elem:hover{color: #6BB130}

#actionBox{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 20px 10px;
    width: 100%;
    background: #3399FF;
    overflow: hidden;
    }
    #actionBox .action-box{
        width: 100px;
        margin-bottom: 10px;
        float: left;
        }
        #actionBox .action-desc{
            width: 100%;
            margin-bottom: 5px;
            overflow: hidden;
            color: #FFF;
            text-align: center;
            }
            #actionBox .action-value{
                padding: 10px 0;
                font-size: 16px;
                font-style: italic;
                color: #FFF;
                text-align: center;
            }
        #actionBox .action-now{
            width: 90%;
            height: 28px;
            margin: 0 auto;
        }
        #actionBox .action-now>button{
            border: 1px solid #FFF;
            background: #3399FF;
        }
        #actionBox .action-now>button:hover{
            color: #3399FF;
            background: #FFF;
        }
    #actionBox span{
        width: 20px;
        height: 20px;
        float: left;
    }


    #mainRight .st-box-elem{
        width: 100%;
        overflow: hidden;
        }
        #mainRight .st-box-elem .sb-header{
            padding-left: 5px;
            margin-top: 10px;
            margin-bottom: 10px;
            font: 19px "宋体",Tahoma;
            border-left: 8px solid #6BB130;
        }
        #mainRight .st-box-elem .sb-body{
            padding-top: 10px;
            border-top: 1px solid #CCC;
        }


            #tagBox .sv-tag-elem{
                margin-bottom: 5px;
                margin-right: 5px;
                float:left;
                color: #666;
                }
                #tagBox .sv-tag-elem>a{
                    padding: 2px 5px;
                    coLor: #FFF;
                    text-decoration: none;
                    background: #99CCFF;
                    opacity: 0.6;
                }
                #tagBox .sv-tag-elem>a:hover{
                    coLor: #666;
                    opacity: 1;
                }

        #classBox .sc-elem{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            padding: 5px 10px;
            width: 110px;
            margin-right: 10px;
            margin-bottom: 10px;
            float: left;
            overflow: hidden;
            background: #EEE;
            cursor: pointer;
            }
            #classBox .sc-elem>div{
                width: 100%;
                float: left;
                }
                #classBox .sc-elem a{
                    text-decoration: none;
                }
                #classBox .sc-value{
                    color: #999;
                    font-style: italic;
                }
                #classBoxb .sc-value>a{
                    color: #999;
                }
        #classBox .sc-elem:hover{
            background: #3399FF;
            }
            #classBox .sc-elem:hover a{
                color: #FFF;
            }
            #classBox .sc-elem:hover .sc-value{
                color: #FFF;
            }
            #classBox .sc-value>a{
                color: #999;
            }

    #typeSearch .sb-header{
        width: 100%;
        overflow: hidden;
    }
    #typeSearch.st-box-elem>.sb-body{
        width: 100%;
        overflow: hidden;
        padding: 0;
        border: none;
        }
        #mainRight input{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 100%;
            height: 30px;
            margin: 0;
        }
    #rankBox .rank-elem{
        width: 100%;
        float: left;
        margin-bottom: 10px;
        }
        #rankBox .rank-elem>div{
            float: left;
            }
            #rankBox .user-photo{
                width: 50px;
                height: 50px;
                margin-right: 10px;
                margin-bottom: 2px;
                float: left;
            }
        #rankBox .user-info{
            width: 180px;
            float: left;
            }
            #rankBox .user-nick{
                width: 100%;
                margin-bottom: 7px;
                float: left;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            #rankBox .user-action{
                width: 100%;
                overflow: hidden;
                }
                #rankBox .user-publish{
                    margin-top: 1px;
                    float: left;
                    overflow: hidden;
                    color: #666;
                    }
                    #rankBox .user-publish>span{
                        margin: 0 2px;
                        color: #333;
                        font-weight: 900;
                    }
                #rankBox .user-follow{
                    display: none;
                    float: float;
                    padding: 0 5px;
                }
                #rankBox .rank-elem:hover .user-publish{
                    display: none;
                }
                #rankBox .rank-elem:hover .user-follow{
                    display: block;
                }
     