/*
 * Document    : survey.analyse.css
 * Description : css for survey/analyse.html
 *
 * Created on  : 2013-7-8, 14: 18: 34
 * Author      : ReadYun
 * Copyright   : VixiK
 */
#Main{
    width: 100%;
    overflow: hidden;
}

#navBox{
    width: 100%;
    border-bottom: 1px solid #CCC;
    }
    #navBox>div.nav-bar{
        width: 960px;
        height: 40px;
        margin: 10px auto;
        }
        #navBox>div.nav-bar>div{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            line-height: auto;
        }
        #navBox div.nav-bar-left{
            min-width: 750px;
            padding-right: 10px;
            float: left;
            overflow: hidden;
            line-height: auto;
            }
            #navBox div.nav-bar-photo{
                width: 40px;
                height: 40px;
                margin-right: 10px;
                float: left;
                overflow: hidden;
                }
                #navBox  div.nav-bar-photo>div.user-photo>img{
                    width: 100%;
                    height: 100%;
                }
            #navBox div.nav-bar-info{
                width: 700px;
                float: left;
                overflow: hidden;
                line-height: auto;
                }
                #navBox div.nav-bar-info a{
                    cursor: pointer;
                }
                #navBox div.nav-bar-title{
                    width: 100%;
                    float: left;
                    font: 19px "宋体",Tahoma;
                }
                #navBox div.nav-bar-user>div{
                    margin-top: 3px;
                    margin-left: 2px;
                    float: left;
                    font-size: 12px;
                    }
                    #navBox div.user-ext>div{
                        margin-left: 15px;
                        float: left;
                        font-size: 12px;
                        color: #999;
                    }
        #navBox div.nav-bar-right{
            width: 200px;
            height: 100%;
            float: right;
            }
            #navBox div.nav-bar-right>div{
                height: 100%;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                float: right;
            }
            #navBox div.nav-bar-right>div.survey-switch{
                height： 100%;
                float: right;
                text-align: center;
                color: #999;
                }
                #navBox div.survey-switch>button{
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    width: 135px;
                    height: 32px;
                    margin-top: 4px;
                }
                #navBox div.survey-switch.open>button{
                    color: #FFF;
                    background: #CCC;
                }
                #navBox div.survey-switch>div.switch-content{
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    width: 500px;
                    height: 440px;
                    margin: 0;
                    padding: 10px 10px;
                    border-radius: 0;
                    box-shadow: none;
                    -moz-box-shadow: none;
                    -webkit-box-shadow: none;
                    }
                    #navBox div.switch-content>.sc-header{
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        width: 100%;
                        padding: 0 10px;
                        overflow: hidden;
                        }
                        #navBox div.switch-content>.sc-header>div.sc-header-nav{
                            width: 100%;
                            float: left;
                            overflow: hidden;
                            }
                            #navBox div.sc-header-nav ul{
                                margin-bottom: 10px;
                            }
                            #navBox div.sc-header-nav li>a{
                                padding: 5px 10px;
                                border-radius: 0;                                
                            }
                    #navBox div.switch-content .tab-pane>.vkpaging-box{
                        display: none; 
                    }
                    #navBox div.switch-content .vkpaging.active>.vkpaging-box{
                        display: block; 
                    }
                    #navBox div.switch-content .vkpaging.active>.vkpaging-null{
                        display: none; 
                    }
                    #navBox div.switch-content .vkpaging-null>.scn-desc{
                        margin: 50px 0;
                        padding: 0 25px;
                        overflow: hidden;
                        font: 23px "宋体",Tahoma;
                        text-align: left;
                    }
                    #navBox div.switch-content .vkpaging-null>.scn-action>button{
                        width: 280px;
                    }
                    #navBox div.switch-content .vkpaging-body{
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        width: 100%;
                        height: 320px;
                        padding: 0 10px;
                        overflow: hidden;
                        }
                        #navBox .vkpaging-body>.sv-list{
                            width: 100%;
                            padding: 7px 0;
                            float: left;
                            font: 12px "微软雅黑",Tahoma;
                            color: #666;
                            border-bottom: 1px dotted #CCC;
                            }
                            #navBox .vkpaging-body>.sv-list>div.sv-name{
                                float: left;
                            }
                            #navBox .vkpaging-body>.sv-list>div.sv-name>a{
                                color: #666;
                                text-decoration: none;
                            }
                            #navBox .vkpaging-body>.sv-list>div.sv-name>a:hover{
                                color: #0066CC;
                                text-decoration: underline;
                            }
                            #navBox .vkpaging-body>.sv-list>div.sv-state{
                                float: right;
                            }
                        #navBox .vkpaging-body>.sv-list:hover{
                            background: #F9F9F9;
                            cursor: pointer;
                        }
                        #navBox .vkpaging-body>.sv-list:hover>.sv-name>a{
                            color: #333;
                        }
                    #navBox div.switch-content .vkpaging-nav{
                        padding-right: 20px;
                        margin-top: 30px;
                    }
    
#sideBar{
    width: 100%;
    position: fixed;
    left: 0;
    overflow: hidden;
    }   
    #sideBar>.side-bar{
        width: 960px;
        margin: 0 auto;
        overflow: hidden;
        }   
        #sideBar>.side-bar>ul.nav{
            width: 135px;
            float: right;
            font: 19px "宋体",Tahoma;          
            }
            #sideBar ul.nav>li>a{
                width: 100%;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                padding-top: 12px;
                padding-bottom: 12px;
                border-radius: 0;
                color: #999;
                text-align: center;
            }
#statistContent{
    width: 800px;
    float: left;
    overflow: hidden;
    z-index: 20;
    position: relative;
    }    
    #statistContent>div.tab-pane{
        width: 100%;
        margin-bottom: 30px;
        float: left;
        overflow: hidden;
    }    
#surveyStats>div{
    margin-bottom: 50px;
    overflow: hidden;
}    
#itemStats{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    border: 1px solid #E8E8E8;
    }
    #itemStats>div.stats-desc{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        padding: 5px 0 10px 0;
        float: left;
        overflow: hidden;
        font-family: "宋体",Tahoma;
        }
        #itemStats>div.stats-desc>div{
            width: 25%; 
            float: left;
            line-height: normal;
            text-align: center;
            }
            #itemStats>div.stats-desc div.item-num{
                width: 100%;
                font-size: 45px;
                font-weight: 900;
                color: #777;
            }
            #itemStats>div.stats-desc div.item-title{
                width: 100%;
                font-size: 19px;
                color: #9F9F9F  ;
            }
    #itemStats>div.stats-graphs{
        width: 100%;
        height: 10px;
        float: left;
        }
        #itemStats>div.stats-graphs>div{
            height: 100%;
            float: left;
        }
        #itemStats>div.stats-graphs>div.line-xz{
            background: #FF7F50;
        }
        #itemStats>div.stats-graphs>div.line-zg{
            background: #87CEFA;
        }
        #itemStats>div.stats-graphs>div.line-pf{
            background: #FFD700;
        }

    #surveyStats .sv-stats .sv-stats-header{
        width: 100%;
        overflow: hidden;
        border-bottom: 5px solid #CCC;
        }
        #surveyStats .sv-stats .sv-stats-header>label{
            float: left;
            overflow: hidden;
            font: 25px "宋体",Tahoma;
            font-weight: 900;
            color: #666;
        }
    #surveyStats .sv-stats .sv-stats-body{
        width: 100%;
        height: 350px;
        overflow: hidden;
        }
        #surveyStats .sv-stats .sv-stats-body>.ssb-side{
            width: 120px;
            height: 100%;
            float: left;
            background: #F3F3F3;
            }
            #surveyStats .sv-stats .sv-stats-body>.ssb-side>.sside-elem{
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                width: 100%;
                margin: 20px 0;
                text-align: center;
            }
            #surveyStats .sv-stats .sv-stats-body>.ssb-side .stats-value{
                font-size: 21px;
                margin-bottom: 5px;
                color: #666;
            }
            #surveyStats .sv-stats .sv-stats-body>.ssb-side .stats-title{
                color: #BBB;
            }
        #surveyStats .sv-stats .sv-stats-body>.ssb-main{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 680px;
            height: 100%;
            float: right;
            }
            #surveyStats .sv-stats-body .stats-graphs{
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                width: 100%;
                height: 100%;
                /*background: yellow;*/
                font-size: 12px;
            }
            #areaStats .sv-stats-body .stats-graphs{
                padding-top: 10px;
            }
            #userStats .ssb-side .user-prop-elem{
                width: 100%;
                padding: 20px 0;
                float: left;
                overflow: hidden;
                cursor: pointer;
                font: 25px "宋体",Tahoma;
                color: #999;
                text-align: center;
                border-top: 2px solid #F3F3F3;
                border-bottom: 2px solid #F3F3F3;
            }
            #userStats .ssb-side .user-prop-elem.active{
                background: #FFF;
                color: #666;
                font-weight: 900;
                border-top-color: #CCC;
                border-bottom-color: #CCC;
            }
            #userStats .ssb-side .user-prop-elem:first-child{
                border-top: none;
            }
            #userStats .ssb-side .user-prop-elem:hover{
                color: #666;
            }
            #userStats .stats-graphs>div{
                display: none;
                width: 100%;
            }
            #userStats .stats-graphs>div.active{
                display: block;
            }

#mainBox{
    width: 960px; 
    min-height: 350px;
    _height: expression((documentElement.clientHeight < 350) ? "350px" : "auto");
    margin: 20px auto;
    overflow: hidden;
}
#questionStats{
    width: 800px;
    overflow: hidden;
    }
    #questionStats>div{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        float: left;
        }
        #questionStats>.qt-stats-header>select{
            width: 100%;
            margin: 0;
            font: 19px "宋体",Tahoma;
        }
#questionStats>.qt-stats-body{
    margin: 0;
    padding-top: 20px;
    }
    .qt-stats-body>div.question{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        margin-bottom: 30px;
        overflow: hidden;
        border: 1px solid #CFCFCF;
        }
        div.question>div.item-header{
            width: 100%;
            margin: 0;
            border-bottom: 1px solid #CFCFCF;
            float: left;
            }
            div.question>div.item-header>div.qt-name{
                margin: 8px;
                float: left;
                font: 19px "宋体",Tahoma;  
            }
        div.question>div.qt-text{
            width: 100%;
            overflow: hidden;
            }
            div.question>div.qt-text>div.text-init{
                width: 100%;
                overflow: hidden;
                }
                div.question>div.qt-text>div.text-init>div{
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    padding: 10px 0;
                    font: 21px "宋体",Tahoma;
                    color: #999;
                    text-align: center;
                }
                div.question>div.qt-text>div.text-init>button{
                    display: none;
                    height: 40px;
                    font: 19px "宋体",Tahoma;
                }
                div.question>div.qt-text.data>div.text-init>div{
                    display: none;
                }
                div.question>div.qt-text.data>div.text-init>button{
                    display: block;
                }
            div.question>div.qt-text>div.text-body{
                display: none;
                width: 100%;
                overflow: hidden;
                }
                div.question div.text-body .text-list{
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    width: 100%;
                    min-height: 100px;
                    padding: 20px 10px;
                    overflow: hidden;
                    }
                    div.question .text-list .tl-elem{
                        width: 100%;
                        margin-bottom: 20px;
                        overflow: hidden;
                        }
                        div.question .text-list .tl-elem .photo-sex{
                            width: 40px;
                            height: 40px;
                            margin-right: 10px;
                            float: left;
                            background: #EEE;
                            }
                        div.question .text-list .tl-elem .text-main{
                            width: 720px;
                            float: right;
                            }
                            div.question .text-list .tl-elem .user-prop{
                                width: 100%;
                                padding-bottom: 5px;
                                margin-bottom: 5px;
                                float: right;
                                border-bottom: 1px dotted #CCC;
                            }
                            div.question .text-list .tl-elem .user-prop>div{
                                line-height: 15px;
                                padding: 0;
                                padding-right: 10px;
                                margin-right: 10px;
                                float: left;
                                border-right: 1px solid #CCC;
                                color: #666;
                            }
                            div.question .text-list .tl-elem .user-prop>div:last-child{
                                border: none;
                            }
                            div.question .tl-elem .user-prop .usp-area span{display:none;}
                            div.question .tl-elem .user-prop .usp-area.province.city span{display:inline;}
                            div.question .text-list .tl-elem .text-content{
                                width: 100%;
                                overflow: hidden;
                            }
                div.question div.text-body .text-foot{
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    width: 100%;
                    padding: 0 10px;
                    margin-bottom: 20px;
                    overflow: hidden;
                    }
                    div.question div.text-body .text-foot>div{
                        width: 50%;
                        overflow: hidden;
                        float: left;
                        height: 40px;
                        }
                        div.question div.text-body .text-foot>.tf-desc>button{
                            width: 100%;
                            height: 100%;
                            margin: 0;
                            padding: 0;
                            border: none;
                            font: 19px "宋体",Tahoma;
                            color: #999;
                            text-align: left;
                            background: none;
                            cursor: default;
                            }
                            div.question div.text-body .tf-desc>button>span{
                                margin: 0 10px;
                                color: #666;
                                font-weight: 900;
                            }
                        div.question div.text-body .text-foot>.tf-button>button{
                            box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            width: 100%;
                            height: 100%;
                            margin: 0;
                            padding: 0;
                            font: 19px "宋体",Tahoma;
                        }
            div.question>div.qt-text.active>div.text-init{display:none;}
            div.question>div.qt-text.active>div.text-body{display:block;}
        div.question div.item-option{
            width: 780px;
            padding-top: 10px;
            margin: 0 auto;
            overflow: hidden;
            }
            div.question div.item-option table{
                margin-bottom: 10px;
            }
        table.table-bordered.table-thin th{
            padding: 5px;
            background: #F9F9F9;
            font: 12px "微软雅黑",Tahoma;  
            text-align: center;
            border-radius: 0;
        }    
        table.table-bordered.table-thin td{
            padding: 3px;
            font: 12px "微软雅黑",Tahoma;  
        }    
        table.table-bordered .option-seq{
            width: 25px;
            text-align: center;
        }
        table .option-name{
            width: 380px;
        }
        table.table-bordered .choose-num{
            width: 45px;
            text-align: center;
        }
        table.table-bordered .option-stats{
            width: 160px;
            }    
            table.table-bordered .option-stats .stats-ratio{
                padding: 0;
                margin-right: 5px;
                float: right;
            }
            table.table-bordered .option-stats .stats-line{
                width: 140px;
                height: 12px;
                margin-top: 3px;
                margin-left: 5px;
                float: left;
                border: 0;
                border-radius: 0;
                background: #F5F5F5;
                }
                table.table-bordered .option-stats .stats-line .ui-progressbar-value{
                    border-color: #6BB130;
                    background: #6bb130;
                }

        table.pf-option{
            margin: 0;
            border: 1px solid #CCC;
            }
            table.pf-option .option-pf{
                width: 41px;
                text-align: center;
            }
            table.pf-option .pf-cnt{
                width: 50px;
                text-align: center;
            }
            table.pf-option .pf-stats{
                width: 160px;
            }
            table.pf-option .stats-line{
                width: 110px;
                height: 12px;
                margin-top: 3px;
                margin-left: 5px;
                margin-right: 5px;
                float: left;
                border: 0;
                border-radius: 0;
                background: #F5F5F5;
                }
                table.pf-option .stats-line .ui-progressbar-value{
                    border-color: #3399FF;
                    background: #3399FF;
                }
        .question>.item-graphs{
            width: 100%;
            overflow: hidden;
            }
            .question>.item-graphs .item-graphs-header{
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                width: 100%;
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 12px;
                }
                .question>.item-graphs .item-graphs-header>li{
                    overflow: hidden;
                    border-radius: 0;
                    cursor: pointer;
                    }
                    .question>.item-graphs .item-graphs-header>li>a{
                        border-radius: 0;
                        font: 12px "微软雅黑",Tahoma;
                        color: #666;
                    }
            .question>.item-graphs .item-graphs-body{
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                width: 100%;
                }
                .question>.item-graphs .item-graphs-body select{
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    width: 100%;
                    height: 24px;
                    padding: 0;
                    }
                    .question>.item-graphs .item-graphs-body select>option{
                        padding-left: 3px;
                    }
                .question>.item-graphs .graphs-sub{
                    width: 100%;
                    padding: 0 10px;
                    overflow: hidden;
                    border-bottom: 1px solid #CCC;
                    }
                    .question>.item-graphs .graphs-sub>div{
                        float: left;
                    }
                .question .graphs-tx .user-prop-main{
                    width: 300px;
                    margin-right: 20px;
                }
                .question .graphs-tx .user-prop-sub{
                    width: 200px;
                }
                .question .graphs-sx .item-opt{
                    width: 500px;
                    margin-right: 20px;
                    }
                    .question .graphs-sx .item-opt>select{
                        width: 450px;
                        float: left;
                    }
                    .question .graphs-sx .item-opt>button{
                        width: 35px;
                        height: 24px;
                        float: left;
                        font-size: 12px;
                        margin: 0;
                        border-left: none;
                    }
                .question .graphs-sx .user-prop{
                    width: 200px;
                    margin-right: 20px;
                }
                .question .graphs-jx .item-opt{
                    width: 375px;
                    margin-right: 20px;
                }
                .question .graphs-jx .item-list{
                    width: 375px;
                    margin-right: 20px;
                }
                .question>.item-graphs .item-graphs-body .graphs-main{
                    width: 100%;
                    padding: 5px 10px;
                }
                .question .item-graphs-body>div{
                    display: none;
                    width: 100%;
                    overflow: hideen;
                }
                .question>.item-graphs .item-graphs-body .highchart{
                    min-height: 400px;
                }
                .question>.item-graphs .item-graphs-body .nochart{
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                }
                .question[data-stats='tx'] .item-graphs-body>div.graphs-tx{display: block;}
                .question[data-stats='sx'] .item-graphs-body>div.graphs-sx{display: block;}
                .question[data-stats='jx'] .item-graphs-body>div.graphs-jx{display: block;}
            .question>.item-graphs .item-graphs-action{
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                width: 100%;
                padding-top: 10px;
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 10px;
                overflow: hidden;
                border-top: 1px solid #CCC;
                }
                .question .item-graphs-action>.iga-left{
                    float: left;
                    }
                    .question .item-graphs-action>.iga-left>button{
                        float: left;
                        margin-right: 10px;
                    }
                .question .item-graphs-action>.iga-right{
                    float: right;
                    }
                    .question .item-graphs-action>.iga-right>button{
                        float: right;
                        margin-left: 10px;
                    }
            .question>.item-graphs>.action-box{
                width: 100%;
                height: 40px;
                }
                .item-graphs>.action-box>{
                    width: 50%;
                    float: left;
                }
                .item-graphs>.action-box>.action-prop>select{
                    width: 180px;
                    float: left;
                    font: 19px "宋体",Tahoma;
                }
                .item-graphs>.action-box>.action-option>select{
                    width: 400px;
                    float: right;
                    font: 19px "宋体",Tahoma;  
                }

#questionStats.single select.qt-select{
    border-bottom: 0;
}
#questionStats.single .qt-stats-body{
    padding-top: 0;
    }
    #questionStats.single div.question>.item-header{
        display: none;
    }

/********* 调查内容模块样式 *********/

#surveyContent{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    min-height: 400px;
    padding: 20px 10px;
    overflow: hidden;
    border: 1px solid #CCC;
    }
    #surveyContent .question{
        width: 100%;
        margin: 10px 0;
        float: left;
        }
        #surveyContent .question .qt-header{
            width: 100%;
            margin-bottom: 10px;
            padding-bottom: 5px;
            overflow: hidden;
            font: 19px "宋体",Tahoma;
            text-align: center;
            color: #666;
            border-bottom: 1px dotted #CCC;
            }
            #surveyContent .question .qt-seq{
                width: 40px;
                float: left;
                text-align: left;
                }
                #surveyContent .question .qt-seq>span{
                    float:right;
                    font: 16px Tahoma;
                    color: red;
                    margin-top: -1px;
                    margin-right: 1px;
                }
            #surveyContent .question .qt-title{
                width: 738px;
                float: left;
                text-align: left;
            }
            #surveyContent .question:hover .qt-header{
                color: #333;
            }
        #surveyContent .question .qt-body{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 100%;
            padding-left: 41px;
            float: left;
            color: #666;
            }
            #surveyContent .question .qt-zg .vk-input{
                width: 400px;
                color: #666;
            }
            #surveyContent .question .qt-zg div.vk-input{
                min-height: 78px;
                _height: expression((documentElement.clientHeight < 78) ? "78px" : "auto");
            }
    #surveyContent .question .pf-item>div{
        margin: 10px 10px 0 0;
        float: left;
        overflow: hidden;
        font: 19px "宋体",Tahoma;
        }
        #surveyContent .question .pf-item .pr-desc{
            padding-top: 1px;
        }
        #surveyContent .question .pf-item .pr-mid{
            margin-top: 9px;
            border: 1px solid #CCC;
            border-left: none;
        }
        #surveyContent .question .pf-item .pr-mid>span{
            min-width: 25px;
            _width: expression((documentElement.clientWidth < 25) ? "25px" : "auto");
            height: 23px;
            display: block;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            margin: 0;
            float: left;
            color: #666;
            text-align: center;
            border-right: none;
            cursor: pointer;
            border-left: 1px solid #CCC;
        }
        #surveyContent .question .pf-item .pr-mid>span.ok, #surveyContent .question .pf-item .pr-mid>span:hover{
            color: #FFF;
            background: #6699FF;
        }
        #surveyContent .question .pf-option .vf-elem-option{
            width: 100%;
            float: left;
            margin-bottom: 5px;                
            font: 12px "微软雅黑",Tahoma;
            }
            #surveyContent .question .pf-option .val-select{
                margin-top: -3px;
                margin-right: 5px;
                float: left;
                cursor: pointer;
                font: 19px "宋体",Tahoma;
            }
            #surveyContent .question .pf-option .val-select span{
                width: 16px;
                float: left;
                text-align: center;
            }
            #surveyContent .question .pf-option .val-select span:hover{
                color: #000;
            }
            #surveyContent .question .pf-option .val-select .vs-btn>.dropdown-toggle{
                width: 25px;
                margin-top: 2px;
                float: left;
                border: none;
                font-size: 16px;
                color: #666;
                text-align: center;
            }
            #surveyContent .question .vf-elem-option.ok .val-select .vs-btn>.dropdown-toggle,
            #surveyContent .question .vf-elem-option.ok .val-select .vs-btn>.dropdown-toggle:hover{
                color: #6699FF;
                font-weight: 900;
            }
            #surveyContent .question .pf-option .val-select .vs-btn>.dropdown-toggle:hover{
                color: #333;
                text-decoration: none;
            }
            #surveyContent .question .pf-option .val-select .vs-btn>.dropdown-menu{
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                min-width: 25px;
                padding: 0;
                margin: 0;
                float: left;
                font-size: 14px;
                text-align: center;
                border-radius: 0;
                border-color: #999;
                border-top: none;
                border-bottom: none;
                box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
                }
                #surveyContent .question .pf-option .val-select .vs-btn .vs-option{
                    height: 20px;
                }
                #surveyContent .question .pf-option .val-select .vs-btn .vs-option:hover{
                    color: #FFF;
                    background: #3399FF;
                }
        #surveyContent .question .qt-option{
            width: 100%;
            overflow: hidden;
            }
            .qt-option label.vf-elem-option{
                width: 100%;
                margin-bottom: 4px;
                float: left;
                font: 12px "微软雅黑",Tahoma;
                color: #666;
                }
                .qt-option .vf-elem-option>div{
                    top: 0px;
                    margin-right: 5px;
                }
            }
        #surveyContent .question .custom-option{
            display: none;
            margin-top: 5px;
            overflow: hidden;
            font-family: "微软雅黑",Tahoma;
            }
            .question .custom-option>.custom-opt-header{
                margin-top: 10px;
                overflow: hidden;
                }
                .question .custom-option button{
                    height: auto;
                    margin-right: 20px;
                    padding: 5px 10px;
                    cursor: pointer;
                }
                .custom-option button.button>i{
                    margin-right: 5px;
                    font-size: 12px;
                }
            .custom-option>.custom-opt-content{
                width: 600px;
                padding: 10px;
                margin-top: 10px;
                float: left;
                border: 1px solid #BBB;
                }
                .custom-option .custom-opt-content label{
                    font-size: 14px;
                    color: #999;
                }
                .custom-option .custom-opt-content input{
                    width: 550px;
                    padding: 2px 5px;
                    font: 12px "微软雅黑",Tahoma;
                    color: #333;
                }
                .custom-option .custom-opt-content select{
                    width: 563px;
                    padding: 2px;
                    font: 12px "微软雅黑",Tahoma;
                }
                .custom-option .option-ele{
                    width: auto;
                    margin-right: 20px;
                    float: left;
                    overflow: hidden;
                    font-style: italic;
                    float: left;
                    }
                    .custom-option .option-ele>.co-input-name{
                        float: left;
                        padding-right: 10px;
                    }
            .custom-option>.custom-opt-result{
                overflow: hidden;
                }
                .custom-opt-result>.cor-option .co-input-name{
                    float: left;
                }
                .custom-opt-result>.cor-alter{
                    float: left;
                    height: 18px;
                }
                .custom-opt-result>.cor-alter>i{
                    margin-right: 10px;
                    font-size: 17px;
                    cursor: pointer;
                    color: #999;
                }
                .custom-opt-result>.cor-alter>i:hover{
                    color: #666;
                }
                .custom-option>.custom-opt-result>div{
                    margin-right: 30px;
                    float: left;
                }
        .custom-option>div{display: none;}
        .custom-option[data-state='-1']>.custom-opt-header{display: block;}
        .custom-option[data-state='0']>.custom-opt-content{display: block;}
        .custom-option[data-state='1']>.custom-opt-result {display: block;}


/********* 调查设置模块样式 *********/

#surveySetting>div{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid #CCC;
    }
    #surveySetting .sp-elem-header{
        width: 100%;
        height: 35px;
        overflow: hidden;
        font: 19px "宋体",Tahoma;
        border-bottom: 1px solid #CCC;
        }
        #surveySetting .sp-elem-header>span{
            display: block;
            float: left;
            width: 10px;
            height: 100%;
            margin-right: 10px;
            background: #3399FF;
        }
        #surveySetting .sp-elem-header>div{
            float: left;
            margin-top: 7px;
        }
    #surveySetting .sp-elem-content{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        padding: 5px 20px;
        font: 19px "宋体",Tahoma;
        overflow: hidden;
        }
        #surveySetting .spe-item{
            width: 100%;
            padding: 7px 0;
            font: 19px "宋体",Tahoma;
            overflow: hidden;
            border-bottom: 1px dotted #CCC;
            }
            #surveySetting .spe-item .spe-item-desc{
                width: 240px;
                float: left;
            }
            #surveySetting .spe-item .spe-item-value{
                float: left;
            }
            #surveySetting .spe-item .spe-item-action{
                width: 200px;
                float: right;
                }
                #surveySetting .spe-item .spe-item-action>button{
                    float: right;
                    margin: 0;
                    padding: 0;
                    font: 19px "宋体",Tahoma;
                }
        #surveySetting .spe-item:last-child{
            border: none;
        }
        #surveySetting .spe-item-content{
            width: 510px;
            float: left;
            }
            #surveySetting .spe-item-content>.recommend-rule{
                width: 100%;
                float: left;
                margin-bottom: 10px;
            }
            #surveySetting .spe-item-content .recommend-rule-desc{
                width: 70px;
                float: left;
            }
            #surveySetting .spe-item-content .recommend-rule-value{
                width: 440px;
                float: left;
            }
        #surveySetting .sv-desc .sp-elem-content{
            min-height: 100px;
            padding-left: 25px;
            overflow: hidden;
            color: #999;
        }

#surveyComment>div{
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
    }
    #surveyComment .comment-main .comment-no{
        width: 100%;
        margin-bottom: 100px;
        overflow: hidden;
        font: 12px "微软雅黑",Tahoma;
        color: #999;
    }
    #surveyComment .sc-sub{
        width: 40px;
        float: left;
    }
    #surveyComment .sc-main{
        width: 750px;
        float: left;
    }
#surveyComment.list .comment-no{display:none;}
#surveyComment.list .comment-list{display:block;}

    #surveyComment .comment-main .comment-ok{
        width: 100%;
        overflow: hidden;
        color: #999;
        }
        #surveyComment .comment-list{
            display: none;
            width: 100%;
            margin: 30px 0;
            overflow: hidden;
            }
            #surveyComment .comment-ok .comment-list>.cl-elem{
                width: 100%;
                overflow: hidden;
                padding: 10px 0;
                border-top: 1px dotted #CCC;
                }
                #surveyComment .sc-user>.nick{
                    width: 600px;
                    text-align: left;
                    float: left;
                }
                #surveyComment .sc-user>.time{
                    width: 80px;
                    float: right;
                    text-align: right;
                }
                #surveyComment .comment-ok .sc-body{
                    width: 100%;
                    margin-top: 5px;
                    float: left;
                    text-align: left;
                    color: #666;
                }
            #surveyComment .comment-ok .comment-list>.cl-elem-more{
                width: 100%;
                overflow: hidden;
                margin-top: 10px;
            }
    #surveyComment .comment-sub{
        overflow: hidden;
        }
    #surveyComment .comment-my{
        width: 100%;
        margin-bottom: 10px;
        overflow: hidden;
        float: left;
        }
        #surveyComment .comment-my .need-login{
            width: 100%;
            overflow: hidden;
            }
            #surveyComment .comment-my .need-login>button{
                float: right;
                padding: 5px 10px;
            }
        #surveyComment .comment-my .cm-input{
            width: 100%;
            min-height: 100px;
            _height: 100px;
            margin-bottom: 20px;
            float: left;
            font: 12px "微软雅黑",Tahoma;
            color: #666;
        }
        #surveyComment .comment-my .cm-submit>button{
            padding: 5px 20px;
            float: right;
        }
        .comment-my .sc-sub, .comment-my .sc-main, body.login .comment-my .need-login{display: none;}
        body.login .comment-my .sc-sub, body.login .comment-my .sc-main{display: block;}


#Footer{
    border-top: 1px solid #CCC;
}