/*
 * Document    : survey.index.css
 * Description : CSS for Survey/type.html
 *
 * Created on  : 2012-11-7
 * Author      : ReadYun
 * Copyright   : VixiK
 */

#Main{
    width: 960px;
    margin: 20px auto;
    overflow: hidden;
    font-family: "微软雅黑",Tahoma;
}

.left-box{
    width: 620px;
    float: left;
    overflow: hidden;
}
.right-box{
    width: 300px;
    float: right;
    overflow: hidden;
}

#headerBox{
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    }
    #headerBox .sv-recomm{
        height: 100%;
        height: 242px;
        overflow: hidden;
        cursor: pointer;
        }
        #headerBox .sr-main{
            width: 400px;
            height: 100%;
            float: left;
        }
        #headerBox .sr-main>a{
            display: none;
            width: 100%;
            height: 100%;
            float: left;
            }
            #headerBox .sr-main>a>img{
                width: 100%;
                height: 100%;
            }
        #headerBox .sr-main>a.active{
            display: block;
        }
        #headerBox .sr-sub{
            width: 220px;
            height: 100%;
            float: left;
            }
            #headerBox .sr-sub>a{
                width: 100%;
                height: 60px;
                float: left;
                font: 12px "微软雅黑",Tahoma;
                color: #FFF;
                background: #666;
                border-left: 1px solid #FFF;
                border-bottom: 1px solid #FFF;
                overflow: hidden;
                text-decoration: none;
            }
            #headerBox .sr-sub>a:last-child{
                border-bottom: none;
            }
            #headerBox .sr-sub>a.active{
                background: #6699FF;
            }
            #headerBox .sr-sub>a>span{
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                width: 100%;
                height: 60px;
                padding: 0 5px;
                display: table-cell;
                vertical-align: middle;
            }
    #headerBox .sv-action{
        height: 100%;
        overflow: hidden;
        background: #6699FF;
    }
    #headerBox .sv-action>div{
        width: 100%;
        overflow: hidden;
    }
    #headerBox .sa-header{
        padding: 15px 0;
        overflow: hidden;
        font: 25px "宋体",Tahoma;
        text-align: center;
        color: #FFF;
        border-bottom: 1px solid #FFF;
    }
    #headerBox .sa-body{
        }
        #headerBox .sa-body>div{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 50%;
            height: 182px;
            float: left;
            color: #FFF;
            text-align: center;
        }
        #headerBox .sa-body .sa-title{
            font: 21px "宋体",Tahoma;
            margin-top: 20px;
        }
        #headerBox .sa-body .sa-value{
            padding: 25px 0;
            font-size: 25px;
        }
        #headerBox .sa-body .sa-start{
            width: 100%;
            padding: 5px 0;
            margin: 0 auto 10px auto;
            overflow: hidden;
            }
            #headerBox .sa-body .sa-start>a{
                display: block;
                width: 110px;
                padding: 5px 0;
                margin: 0 auto;
                color: #FFF;
                font: 19px "宋体",Tahoma;
                border: 1px solid #FFF;
            }
        #headerBox .sa-body .sa-start>a:hover{
            color: #3399FF;
            text-decoration: none;
            background: #FFF;
        }

#surveyBox{
    width: 100%;
    overflow: hidden;
    }
    #Main .sv-box-main .sl-elem{
        width: 100%;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px dotted #CCC;
        overflow: hidden;
    }
    #Main .sv-box-main .sl-elem:last-child{
        border-bottom: none;
    }
    #surveyBox .sl-elem .sl-stats{
        width: 45px;
        height: 33px;
        margin-top: 4px;
        margin-right: 5px;
        float: left;
        color: #FFF;
        line-height: 33px;
        background: #9999FF;
        text-align: center;
    }
    #surveyBox .sl-elem .sl-main{
        width: 470px;
        float: left;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        }
        #surveyBox .sl-elem .sl-main .sv-name{
            width: 100%;
            font: 14px "微软雅黑",Tahoma;
            cursor: pointer;
            margin-bottom: 5px;
        }
        #surveyBox .search-list.question .sl-elem .sl-main .sv-name{
            font: 12px "微软雅黑",Tahoma;
        }
        #surveyBox .search-list.question .sl-elem .sl-main .qt-name{
            font: 15px "微软雅黑",Tahoma;
            color: #666;
        }
        #surveyBox .search-list.question .sl-elem .sl-main .qt-type{
            width: 80px;
        }
        #surveyBox .sl-elem .sl-main .sv-desc{
            width: 100%;
            margin-bottom: 5px;
            font: 12px "微软雅黑",Tahoma;
            color: #888;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        #surveyBox .sl-elem .sl-main .sv-info>div{
            margin-right: 20px;
            float: left;
            color: #666;
            margin-top: 3px;
        }
        #surveyBox .sl-elem .sv-info .sv-user{
            width: 80px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        #surveyBox .sl-elem .sv-info .sv-item{
            width: 40px;
        }
        #surveyBox .sl-elem .sv-info .sv-type{
            width: 140px;
        }
        #surveyBox .sl-elem .sv-info img{
            width: 18px;
            height: 18px;
            margin-right: 5px;
            margin-top: -3px;
        }
        #surveyBox .sl-elem .sv-info a{
            color: #666;
        }
        #surveyBox .sl-elem .sv-info span{
            margin: 0 3px;
        }
        #surveyBox .sl-elem .sv-info i{
            display: block;
            margin-top: 1px;
            margin-right: 5px;
            float: left;
            font-size: 16px;
        }
#surveyBox{
    width: 100%;
    margin-top: 30px;
    overflow: hidden;
    }
    #surveyBox .sl-elem .sl-sub{
        width: 100px;
        float: left;
        color: #CCC;
        text-align: right;
        }
        #surveyBox .sl-elem .sl-sub .sv-time{
            margin-bottom: 26px;
        }
        #surveyBox .sv-box-sub>div{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 100%;
            padding-bottom: 15px;
            margin-bottom: 20px;
            overflow: hidden;
            border-bottom: 1px solid #CCC;
        }
        #surveyBox .sv-box-sub .ss-menu{
            width: 100%;
            padding: 10px 15px;
            margin-bottom: 30px;
            overflow: hidden;
            border: 1px solid #CCC;
            border-top: 5px solid #6BB130;
            }
            #surveyBox .ss-menu .sv-type-elem{
                width: 100%;
                padding-bottom: 5px;
                margin-top: 5px;
                overflow: hidden;
                border-bottom: 1px solid #EEE;
            }
            #surveyBox .ss-menu .sv-type-elem:last-child{
                border: none;
                }
                #surveyBox .ss-menu .sv-type-main>a{
                    font-weight: 900;
                    color: #666;
                }
            #surveyBox .ss-menu .sv-type-elem .sv-type-sub{
                width: 100%;
                margin-top: 5px;
                }
                #surveyBox .ss-menu .sv-type-elem .sv-type-sub>a{
                    margin-right: 19px;
                    color: #999;
                }
            #surveyBox .sv-box-sub .ss-menu a:hover{
                color: #6BB130;
                cursor: pointer;
            }
            #surveyBox .ss-menu .sv-trade{
                color: #666;
                margin: 3px 19px 3px 0;
                float: left;
            }
            #surveyBox .sv-box-sub .ss-header{
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                width: 100%;
                padding-left: 5px;
                overflow: hidden;
                font: 19px "宋体",Tahoma;
                color: #666;
                border-left: 8px solid #6BB130;
                }
                #surveyBox .sv-box-sub .ss-header i{
                    float: left;
                    margin-top: 1px;
                    margin-right: 5px;
                }
            #surveyBox .sv-box-sub .ss-body{
                width: 100%;
                padding-top: 10px;
                float: left;
                }
            #surveyBox .sv-list-sub .ss-body>div{
                width: 100%;
                float: left;
                color: #666;
                }
                #surveyBox .sv-box-sub .sv-name{
                    width: 220px;
                    float: left;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    }
                    #surveyBox .sv-box-sub .sv-name i{
                        margin-right: 5px;
                    }
                #surveyBox .sv-box-sub .answer-num{
                    float: right;
                    color: #999;
                }
        #surveyBox .sv-box-sub .th-elem{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;   
            width: 100%;
            margin-right: 10px;
            padding-bottom: 15px;
            float: left;
            overflow: hidden;
            cursor: pointer;
            }
            #surveyBox .sv-box-sub .th-elem>img{
                width: 45px;
                height: 45px;
                float: left;
            }
            #surveyBox .sv-box-sub .th-elem>div{
                width: 240px;
                float: left;
                margin-left: 10px;
            }
            #surveyBox .sv-box-sub .th-elem a{
                display: block;
                width: 100%;
                margin-bottom: 8px;
                float: left;
                text-align: left;
            }
            #surveyBox .sv-box-sub .th-elem span{
                display: block;
                width: 100px;
                margin-right: 10px;
                float: left;
                color: #999;
                text-align: left;
            }
            #surveyBox .sv-tag-elem{
                margin-bottom: 5px;
                margin-right: 5px;
                float:left;
                color: #666;
                }
                #surveyBox .sv-tag-elem>a{
                    padding: 2px 5px;
                    coLor: #FFF;
                    text-decoration: none;
                    background: #99CCFF;
                    opacity: 0.6;
                }
                #surveyBox .sv-tag-elem>a:hover{
                    coLor: #666;
                    opacity: 1;
                }
    #surveyBox .sv-list-more{
        margin: 20px 0;
    }
#surveyBox .user-hot .user-hot-elem{
        width: 100%;
        float: left;
        margin-bottom: 10px;
        }
        #surveyBox .user-hot .user-hot-elem>div{
            float: left;
            }
            #surveyBox .user-hot .user-photo{
                width: 50px;
                height: 50px;
                margin-right: 10px;
                margin-bottom: 2px;
                float: left;
            }
        #surveyBox .user-hot .user-info{
            width: 180px;
            float: left;
            }
            #surveyBox .user-hot .user-nick{
                width: 100%;
                margin-bottom: 7px;
                float: left;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            #surveyBox .user-hot .user-action{
                width: 100%;
                overflow: hidden;
                }
                #surveyBox .user-hot .user-publish{
                    margin-top: 1px;
                    float: left;
                    overflow: hidden;
                    color: #666;
                    }
                    #surveyBox .user-hot .user-publish>span{
                        margin: 0 2px;
                        color: #333;
                        font-weight: 900;
                    }
                #surveyBox .user-hot .user-follow{
                    display: none;
                    float: float;
                    padding: 0 5px;
                }
                #surveyBox .user-hot .user-hot-elem:hover .user-publish{
                    display: none;
                }
                #surveyBox .user-hot .user-hot-elem:hover .user-follow{
                    display: block;
                }

#rewardBox{
    width: 100%;
    padding-top: 20px;
    margin: 30px 0;
    overflow: hidden;
    border-top: 1px solid orange;
    }
    #rewardBox .award-header{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        padding-left: 5px;
        margin-bottom: 10px;
        overflow: hidden;
        font: 19px "宋体",Tahoma;
        color: #666;
        float: left;
        border-left: 8px solid orange;
    }
    #rewardBox .award-body>div{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        margin: 0 10px 10px 0;
        width: 114px;
        height: 114px;
        float: left;
        border: 1px solid #CCC;
    }
    #rewardBox .rank-box .rank-header{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        padding-left: 5px;
        margin-bottom: 10px;
        overflow: hidden;
        font: 19px "宋体",Tahoma;
        color: #666;
        border-left: 8px solid orange;
        }
        #rewardBox .rank-box .rank-list-elem{
            width: 100%;
            float: left;
            }
        #rewardBox .rank-list-elem{
            width: 100%;
            height: 20px;
            margin-bottom: 5px;
            float: left;
            }
            #rewardBox .rank-list-elem>div{
                float: left;
                }
                #rewardBox .rank-list-elem .list-rank{
                    width: 20px;
                    text-align: center;
                    color: #FFF;
                    background: #CCC;
                }
                #rewardBox .rank-list-elem .list-rank.rank1{background: red;}
                #rewardBox .rank-list-elem .list-rank.rank2{background: orange;}
                #rewardBox .rank-list-elem .list-rank.rank3{background: blue;}
                #rewardBox .rank-list-elem .user-nick{
                    max-width: 300px;
                    margin-left: 10px;
                }
                #rewardBox .rank-list-elem .rank-value{
                    width: 70px;
                    margin-right: 2px;
                    float: right;
                    text-align: right;
                    color: #666;
                    font-style: italic;
                }


#footBox{
    width: 100%;
    height: 100px;
    background: orange;
}


