/*
 * Document    :  survey.create.css
 * Description :  css for survey/create.html
 *
 * Created on  :  2012-8-13, 4: 18: 34
 * Author      :  ReadYun
 * Copyright   :  VixiK
 */
#Main{
    min-width: 960px;
    _width: expression((documentElement.clientWidth < 960) ? "960px" : "auto");
    padding-bottom: 50px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 50px;
}

#mainSider{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 20%;
    min-width: 200px;
    _width: expression((documentElement.clientWidth < 200) ? "200px" : "auto");
    padding: 0;
    height: 100%;
    float: right;
    position: fixed;
    left: 0;
    border-right: 1px solid #CCC;
}
#mainSider>.main-sider{
    width: 100%;
    }
    #mainSider>.main-sider>div{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        margin-bottom: 10px;
        float: right;
        overflow: hidden;
        font: 12px "宋体",Tahoma;
    }
    #coinsBox{
        width: 100%;
        padding: 10px 10px 0 10px;
        overflow: hidden;
        text-align: center;
        color: #666;
    }
    body.topbar-open #coinsBox{
        padding-top: 50px;
        }
        #coinsBox>div{
            width: 50%;
            height: 100%;
            padding: 5px 0;
            float: left;
            }
            #coinsBox div.coins-value{
                width: 100%;
                height: 50px;
                font-size: 45px;
                font-weight: 900;
            }
            #coinsBox>div.remain-coins>div.coins-value{
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                padding-top: 10px;
                font-size: 30px;
            }
            #coinsBox>div>div.coins-desc{
                width: 100%;
                font: 12px "微软雅黑",Tahoma;
                color: #999;
            }
    #stepBox{
        width: 100%;
        height: 180px;
        font-family: "宋体",Tahoma;  
        text-align: center;  
        color: #FFF;
        }
        #stepBox ul{
            position: absolute;
            width: 100%;
            list-style-type: none; 
            margin: 0;
            padding: 10px 0;
            }
            #stepBox ul>li{
                width: 100%;
                padding: 10px 0;
                float: left;
                font: 23px "宋体",Tahoma;
                text-align: center;
                color: #666;
                cursor: pointer;
                border-top: 1px solid #FFF;
                border-bottom: 1px solid #FFF;
            }
            #stepBox ul>li:hover{
                background: #EEE;
                }
                #stepBox ul>li.active{
                    cursor: auto;
                    background: #FFF;
                    border-top: 1px solid #CCC;
                    border-bottom: 1px solid #CCC;
                    border-right: 1px solid #FFF;
                    color: #6BB130;
                }
                #stepBox ul>li.step1.active{color: #6BB130;}
                #stepBox ul>li.step2.active{color: #6699FF;}
                #stepBox ul>li.step3.active{color: #FF6633;}
        #syncBox{
            display: block;
            padding: 0 10px;
            float: left;
            overflow: hidden;
            }
            #syncBox>div.sync-auto{
                width: 100%;
                float: left;
                font: 14px "微软雅黑",Tahoma;
                }
                #syncBox>div.sync-auto>div{
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    width: 100%;
                    float: left;
                    padding: 5px 0;
                }
                #syncBox div.time{
                    float: left;
                    text-align: left;
                }
                #syncBox div.desc{
                    float: right;
                    text-align: right;
                }
                #syncBox div.last{
                    display: none;
                }
                #syncBox div.next{
                    border-top: 1px dotted #CCC;
                }
                #syncBox div.doing{
                    display: none;
                }
            #syncBox:hover>div.sync-auto{
                display: none;
                }
        #syncBox[data-state='-1']{
            display: none;
            }
            #syncBox[data-state='1'] div.last{
                display: block;
            }
            #syncBox[data-state='2'] div.doing{
                display: block;
            }
            #syncBox[data-state='2'] div.last, #syncBox[data-state='2'] div.next, #syncBox[data-state='2']:hover div.now{
                display: none;
            }
            #syncBox>div.sync-manu{
                display: none;
                height: 20px;
                padding: 15px 0;
                font: 19px "宋体",Tahoma; 
                text-align: center;
                background: #CCC;
                cursor: pointer;
                }
            #syncBox>div.sync-manu:hover{
                color: #FFF;
                background: #BBB;
            }
            #syncBox:hover>div.sync-manu{
                display: block;
            }
    #siderFoot{
        padding-top: 10px;
        position:absolute;
        bottom: 0;
        text-align: center;
        overflow: hidden;
        }
        #helpBox{
            width: 100%;
            float: left;
            padding-bottom: 50px;
            overflow: hidden;
            }
            #helpBox>div{
                width: 100%;
                padding: 5px 0;
                font: 19px "宋体",Tahoma; 
                border-top: 1px solid #CCC;
            }
            #helpBox>div:hover{
                background: #CCC;
                cursor: pointer;
            }

#mainBody{
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    }
    #surveyBox{
        width: 740px;
        margin-top: 10px;
        margin-left: 20px;
        float: right;
        overflow: hidden;
        }
        #surveyBox>.sv-content{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 100%;
            padding-bottom: 10px;
            margin: 10px 0;
            float: left;
            background: #FFF;
        }
        #surveyBox>.sv-content>div{
            width: 100%;
            float: left;
        }
        .sv-content>.svc-header{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 100%;
            padding: 5px 20px;
            float: left;
            font: 22px "宋体",Tahoma;  
            color: #FFF;
            background: #6BB130;
        }
        .sv-content>.svc-body{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 100%;
            float: left;
            font: 14px "宋体",Tahoma;
            border: 1px solid #CCC;
            border-top: none;
            }
            .svc-body>.cs-item{
                width: 100%;
                padding: 15px 0;
                float: left;
                border-bottom: 1px solid #EEE;
                }
                .svc-body .cs-item .cs-label{
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    width: 100%;
                    padding-left: 10px;
                    margin-bottom: 5px;
                    float: left;
                    overflow: hidden;
                    font: 19px "宋体",Tahoma;  
                    color: #333;
                    border-left: 10px solid #6BB130;
                    }
                    div.cs-item .cs-label>i.icon-angle-down{
                        padding-left: 5px;
                        color: #999;
                    }
                .svc-body .cs-item .cs-content{
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    width: 100%;
                    padding: 5px 20px;
                    float: left;
                    color: #555555;
                    }
                    div.svc-body div.cs-item div.cs-content>label{
                        font: 17px "宋体",Tahoma;  
                    }
                .svc-body .cs-item .cs-content-item{
                    width: 100%;
                    padding: 3px  0;  
                    margin: 0;
                    float: left;
                    overflow: hidden;
                }
#surveySetting>.svc-header{background: #6699FF;}
#surveySetting .cs-label{border-color: #6699FF;}
#surveyRecommend>.svc-header{background: #FF9933;}

#surveyTitle input{
    font: 19px "宋体",Tahoma;  
    height: 30px;
    color: #999;
    margin: 0
}
#surveyTitle input:focus{color: #666;}

#surveyDesc .vk-input{
    min-height: 80px;
    _width: expression((documentElement.clientWidth < 80) ? "80px" : "auto");
    font: 12px "微软雅黑",Tahoma;
    color: #999;
}
#surveyDesc .vk-input:focus{
    color: #666;
}
.svc-body #surveyItem .cs-content{
    width: 100%;
    padding: 0;
}
#surveyItem #itemBody{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
}
#itemBody>.item{
    width: 700px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    border-bottom: 1px solid #FFF;
    }
#itemBody>.item.active{
    border-color: #CCC;
    }
    #itemBody>.item>.item-main{
        width: 100%;
        float: left;
        overflow: hidden;
        }
    #itemBody>.item.active>.item-main, #itemBody>.item:hover>.item-main{
        width: 670px;
        float: left;
        overflow: hidden;
        }
        #itemBody>.item .item-title{
            width: 100%;
            margin-bottom: 5px;
            overflow: hidden;
            color: #666;
            border-bottom: 1px solid #EEE;
            }
            #itemBody>.item .item-seq{
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                width: 25px;
                margin-right: 5px;
                float: left;
                overflow: hidden;
                font: 21px "宋体",Tahoma;
                font-weight: 900;
                text-align: right;
            }
            #itemBody>.item .item-title>.vk-input{
                width: 635px;
                float: left;
                overflow: hidden;
                border-color: #FFF;
            }
            #itemBody>.item:hover .item-title, #itemBody>.item.active .item-title{
                border-color: #FFF;
            }
            #itemBody>.item:hover .item-title>.vk-input, #itemBody>.item.active .item-title>.vk-input{
                border-color: #CCC;
            }
        #itemBody>.item .item-body{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 100%;
            padding-left: 35px;
            margin-bottom: 5px;
            overflow: hidden;
            color: #666;
        }
    #itemBody>.item>.item-sub{
        display: none;
        width: 30px;
        float: right;
        overflow: hidden;
        }
        #itemBody>.item .item-config{
            width: 100%;
            float: left;
            overflow: hidden;
            font: 19px "宋体",Tahoma;
            text-align: center;
            }
            #itemBody>.item .item-cog{
                width: 100%;
                height: 26px;
                padding: 0;
                float: left;
                overflow: hidden;
                font-size: 26px;
                text-align: center;
                color: #66CC66;
                line-height: 0;
                cursor: pointer;
                opacity: 0.7;
            }
            #itemBody>.item .item-cog.disable, #itemBody>.item .item-cog.disable:hover{
                color: #CCC;
                cursor: auto;
            }
            #itemBody>.item .item-cog:hover{
                opacity: 1;
            }
            #itemBody>.item .item-alter{
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                width: 100%;
                font-size: 18px;
                float: left;
                overflow: hidden;
                text-align: center;
                color: #999;
            }
            #itemBody>.item .item-alter>div{
                width: 16px;
                height: 16px;
                padding: 1px;
                margin: 2px auto;
                text-align: center;
                border-radius: 12px;
                cursor: pointer;
            }
            #itemBody>.item .item-alter>div:hover{
                color: #66CC66;
            }
            #itemBody>.item .item-alter>div.disable, #itemBody>.item .item-alter>div.disable:hover{
                background: #FFF;
                cursor: auto;
                opacity: 0.3;
                color: #CCC;
            }
            #itemBody>.item .item-config>.popover{
                width: 200px;
                border-radius: 0;
                box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
                }
                #itemBody>.item .item-config>.popover>.popover-title{
                    display: none;
                }
                #itemBody>.item .item-config>.popover .popover-content{
                    width: 100%;
                    padding: 0;
                }
                #itemBody>.item .item-config .item-setting{
                    width: 100%;
                    margin: 0 auto;
                    }
                    #itemBody .item-config .item-setting>div{
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        width: 180px;
                        margin: 10px auto;
                        font: 12px "微软雅黑",Tahoma;
                        text-align: center;
                    }
                    #itemBody .item-config .item-setting .item-setting-header{
                        height: 20px;
                        }
                        #itemBody .item-config .item-setting .ish-title{
                            float: left;
                            font: 12px "微软雅黑",Tahoma;
                            text-align: left;
                        }
                        #itemBody .item-config .item-setting .icon-remove{
                            float: right;
                            text-align: left;
                            font-size: 16px;
                            color: #CCC;
                        }
                        #itemBody .item-config .item-setting .icon-remove:hover{
                            color: #999;
                            cursor: pointer;
                        }
                        #itemBody .item-config .item-setting>div>a{
                            box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            display: block;
                            width: 100%;
                            padding: 8px 0;
                            color: #666;
                            text-align: center;                            
                            text-decoration: none;
                            border: 1px solid #CCC;
                        }
                        #itemBody .item-config .item-setting>.answer-must{
                            border: 1px solid #CCC;
                            overflow: hidden;
                            }
                            #itemBody .item-config .item-setting>.answer-must>a{
                                width: 50%;
                                color: #666;
                                text-align: center;
                                float: left;
                                border: none;
                            }
                            #itemBody .item-config .item-setting>.answer-must>a:hover{color: #333;}
                            #itemBody .item[data-answer-must='1'] .item-config .item-setting>.answer-must>a[data-must='1'],
                            #itemBody .item[data-answer-must='1'] .item-config .item-setting>.answer-must>a[data-must='1']:hover{
                                color: #FFF;
                                background: #CCC;
                            }
                            #itemBody .item[data-answer-must='0'] .item-config .item-setting>.answer-must>a[data-must='0'],
                            #itemBody .item[data-answer-must='0'] .item-config .item-setting>.answer-must>a[data-must='0']:hover{
                                color: #FFF;
                                background: #CCC;
                            }
                        #itemBody .item .item-setting>.type-change>a{display:none;}
                        #itemBody .item[data-type='11'] .item-setting>.type-change>a[data-type='12'],
                        #itemBody .item[data-type='12'] .item-setting>.type-change>a[data-type='11'],
                        #itemBody .item[data-type='21'] .item-setting>.type-change>a[data-type='22'],
                        #itemBody .item[data-type='22'] .item-setting>.type-change>a[data-type='21'],
                        #itemBody .item[data-type='31'] .item-setting>.type-change>a[data-type='32'],
                        #itemBody .item[data-type='32'] .item-setting>.type-change>a[data-type='31']{display:block;}
                    #itemBody .item-config .item-setting>div>a:hover{
                        cursor: pointer;
                        border-color: #666;
                    }
                    #itemBody .item-config .item-setting .open, #itemBody .item-config .item-setting .open:hover{
                        border-radius: 0;
                        cursor: pointer;
                    }
                    #itemBody .item-config .item-setting .open>a, #itemBody .item-config .item-setting .open>a:hover{
                        color: #666;
                        background: #FFF;
                        border-color: #999;
                        border-bottom: none;
                    }
                    #itemBody .item .item-setting>.opt-custom{display:none;}
                    #itemBody .item[data-class='1'] .item-setting>.opt-custom{display:block;}
                    #itemBody .item-config .item-setting .dropdown-menu{
                        width: 550px;
                        padding: 0;
                        padding-bottom: 10px;
                        margin: 0;
                        border-radius: 0;
                        border-color: #999;
                        border-top: none;
                        box-shadow: none;
                        -moz-box-shadow: none;
                        -webkit-box-shadow: none;
                        overflow: hidden;
                        }
                        #itemBody .item-setting .dropdown-menu>.dropdown-wrap{
                            width: 100%;
                        }
                        #itemBody .item-setting .dropdown-menu .dw-left{
                            width: 372px;
                            float: left;
                            border-top: 1px solid #999;
                        }
                        #itemBody .item-setting .dropdown-menu>.dropdown-body{
                            box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            width: 100%;
                            padding: 10px;
                        }
                        #itemBody .item-setting .dropdown-menu .oc-elem{
                            box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            width: 160px;
                            margin: 15px 8px;
                            float: left;
                            overflow: hidden;
                            border: 1px solid #CCC;
                            cursor: pointer;
                        }
                        #itemBody .item-setting .dropdown-menu .oc-elem>a{
                            display: block;
                            width: 100%;
                            padding: 5px 0;
                            color: #666;
                            text-decoration: none;
                        }
                        #itemBody .item-setting .dropdown-menu .oc-elem>a:hover{
                            background: #EEE;
                        }
                        #itemBody .item-setting .dropdown-menu .oc-elem.active{
                            border-color: #666;
                        }
                        #itemBody .item-setting .dropdown-menu .oc-elem .custom-user-lvl{
                            display: none;
                            box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            width: 100%;
                            padding: 10px 10px 0 10px;
                            overflow: hidden;
                            border-top: 1px solid #CCC;
                            }
                            #itemBody .item-setting .oc-elem .cl-title{
                                margin-top: 2px;
                                float: left;
                                overflow: hidden;
                            }
                            #itemBody .item-setting .oc-elem .cl-select{
                                width: 55px;
                                height: 20px;
                                padding: 0;
                                float: right;
                                overflow: hidden;
                            }
        #itemBody .item-setting .dropdown-menu .oc-elem:hover .custom-user-lvl{display: block;}
        #itemBody>.item:hover .item-sub{display: block;}
        #itemBody>.item .item-xz, #itemBody>.item .item-zg, #itemBody>.item .item-pf{display:none;}
        #itemBody>.item[data-class='1'] .item-xz{display:block;}
        #itemBody>.item[data-class='2'] .item-zg{display:block;}
        #itemBody>.item[data-class='3'] .item-pf{display:block;}
        #itemBody>.item[data-type='21'] .item-zg>input{display:block;}
        #itemBody>.item[data-type='22'] .item-zg>textarea{display:block;}

        #itemBody>.item .xz-option{
            width: 650px;
            float: left;
            overflow: hidden;
            }
            .item .option{
                width: 100%;
                margin: 1px 0;
                float: left;
                overflow: hidden;
                padding: 0;
                }
                .item .option>div{
                    padding: 0;
                    margin-right: 5px;
                    float: left;
                }
                .item .option .option-content>.oc-sub{
                    height: 25px;
                    float: left;
                    padding: 0;
                    margin: 0;
                    }
                    .item .option .option-seq{
                        display: none;
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        width: 100%;
                        margin-top: 3px;
                        padding-right: 5px;
                        float: left;
                        font-size: 17px;
                        text-align: center;
                        color: #999;
                        text-decoration: underline;
                    }
                    .item[data-type='32'] .option .option-seq{display:block;}
                    .item .option .option-content>.oc-sub>.icheck{
                        display: none;
                        margin-top: 5px;
                        margin-right: 5px;
                        float: left;
                    }
                    .item[data-class='1'] .option .option-content>.oc-sub>.icheck{display: block;}
                    .item .option .option-content>.oc-sub>.icheck>div{
                        display: none;
                    }
            .item .val-select{
                display: none;
                margin-top: 6px;
                float: left;
                cursor: pointer;
                overflow: hidden;
                color: #666;
            }
            .item[data-type='32'] .val-select{display:block;}
            .item.active .val-select, .item:hover .val-select{display:none;}
            .item .pf-option .val-select span{
                float: left;
                text-align: center;
            }
            .item .pf-option .val-select span.vs-txt{
                width: 20px;
                float: left;
                text-align: center;
            }
            .item[data-type='11'] .option .option-content>.oc-sub .iradio_minimal-grey{display: block;}
            .item[data-type='12'] .option .option-content>.oc-sub .icheckbox_minimal-grey{display: block;}
            .item[data-class='1'] .option-content>.oc-sub{width:20px;}
            .item[data-type='32'] .option-content>.oc-sub{width:30px;}
            .item .option-content>.oc-main{
                width: 450px;
                float: left;
            }
            .item[data-type='32'] .option-content>.oc-main{width: 440px;}
            .item .option input{
                width: 100%;
                margin: 0;
                font: 12px "微软雅黑",Tahoma;  
                color: #666;
                border-color: #FFF;
            }
            .item.active .option input, .item:hover .option input.vk-input{
                border-color: #CCC;
            }
            .item.active[data-class='1'] .option .option-content .icheck, 
            .item[data-class='1']:hover .option .option-content .icheck{
                display: none;
            }
            .item.active .option .option-seq, .item:hover .option .option-seq{display: block;}
            .item-zg>textarea[disabled='disabled']{
                display: none;
                width: 457px;
                min-width: 457px;
                _width: expression((documentElement.clientWidth < 457) ? "457px" : "auto");
                height: 60px;
                margin-top: 5px;
                background-color: #FFF;
                box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
            }
            .item-zg>input[disabled='disabled']{
                display: none;
                width: 457px;
                min-width: 457px;
                _width: expression((documentElement.clientWidth < 457) ? "457px" : "auto");
                height: 20px;
                margin-top: 5px;
                margin-bottom: 20px;
                background-color: #FFF;
                box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
            }
        #itemBody>.item div.option-button{
            width: 640px;
            padding-left: 30px;
            margin-top: 5px;
            float: left;
            overflow: hidden;
        }
    #itemBody .option-alter{
        display: none;
        width: 120px;
        overflow: hidden;
        float: left;
    }
    #itemBody .item.active .option-alter, #itemBody .item:hover .option-alter{
        display: inline;
        }
        #itemBody .option-alter>div.alter{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 18px;
            height: 22px;
            padding: 2px 0;
            margin-top: 2px;
            margin-left: 5px;
            float: left;
            font-size: 14px;
            color: #999;
            text-align: center;
            overflow: hidden;
        }
        #itemBody .option-alter>div.alter:hover{
            cursor: pointer;
            color: #66CC66;
        }
        #itemBody div.alter>div.disable, #itemBody div.alter>div.disable:hover{
            cursor: auto;
            color: #CCC;
            opacity: 0.3;
        }
        div.item .option-alter>.popover{
            min-width: 400px;
            padding: 0;
            border-radius: 0;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            }
            div.item .popover>.arrow{
                border-left-color: #CCC ;
            }
            div.item .option-alter>.popover>.popover-title{
                padding: 5px 0 5px 13px;
                font: 12px "微软雅黑",Tahoma;
                border-radius: 0;
                color: #666;
            }
.option .option-add{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 450px;
    margin: 5px 0 5px 20px;
    border: 1px solid #CCC;
    overflow: hidden;
    }
    .option .option-add>.vk-input{
        width: 100%;
        min-height: 60px;
        float: left;
        color: #999;
        border: none;
    }
    .option .option-add>.option-add-button{
        width: 100%;
        float: right;
        border-top: 1px solid #CCC;
        }
        .option .option-add>.option-add-button>div{
            margin-top: 3px;
            margin-left: 5px;
            float: left;
            font: 12px "微软雅黑",Tahoma;
            color: #999;
        }
        .option .option-add>.option-add-button>button{
            float: right;
            border: none;
            border-left: 1px solid #CCC;
        }
        .option .option-add>.option-add-button>button.submit{
            width: 100px;
            float: right;
        }
        .option .option-add>.option-add-button>button.cancel{
            width: 70px;
            float: right;
        }

.item-pf>div{
    display: none;
}
.item-pf .pf-item>div{
    width: 100%;
    margin-top: 10px;
    overflow: hidden;
    }
    .item-pf .pf-item .pf-body>div{
        margin: 10px 10px 10px 0;
        float: left;
        overflow: hidden;
        font: 19px "宋体",Tahoma;
        }
        .item-pf .pf-item .pf-body .pr-desc{
            padding-top: 1px;
        }
        .item-pf .pf-item .pf-body .pr-mid>span{
            min-width: 25px;
            _width: expression((documentElement.clientWidth < 25) ? "25px" : "auto");
            height: 23px;
            display: block;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            margin: 0;
            float: left;
            color: #666;
            text-align: center;
            border: 1px solid #999;
            border-right: none;
            cursor: pointer;
        }
        .item-pf .pf-item .pf-body .pr-mid>span:last-child{
            border-right: 1px solid #999;
        }
        .item-pf .pf-item .pf-body .pr-mid>span:hover{
            color: #FFF;
            background: #CCC;
        }
    .item-pf .pf-item .pf-setting>div{
        width: 100%;
        margin-top: 5px;
        float: left;
        overflow: hidden;
        }
        .item-pf .pf-item .pf-setting .ps-elem-desc{
            width: 300px;
            margin-right: 50px;
            float: left;
            overflow: hidden;
            }
            .item-pf .pf-item .pf-setting .ps-elem-desc input{
                width: 190px;
                float: left;
                overflow: hidden;
            }
        .item-pf .pf-item .pf-setting label{
            margin-top: 3px;
            margin-right: 10px;
            float: left;
            font: 19px "宋体",Tahoma;
            color: #999;
        }
        .item-pf .pf-setting>div{
            width: 258px;
            margin-top: 20px;
            margin-right: 10px;
            float: left;
        }
        .item-pf .pf-setting label{
            height: 18px;
            margin-top: 3px;
            margin-right: 10px;
            float: left;
            font: 19px "宋体",Tahoma;
            color: #999;
        }
        .item-pf .val-input{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            height: 27px;
            float: left;
            font-size: 20px;
            color: #999;
            border: 1px solid #CCC;
            cursor: pointer;
        }
        .item-pf .val-input span{
            padding: 0.5px 8px;
            height: 100%;
            float: left;
            font-size: 20px;
            color: #999;
            cursor: pointer;
        }
        .item-pf .val-input span:hover{
            color: #333;
            border-color: #999;
        }
        .item-pf .val-input input{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 30px;
            min-height: 24px;
            margin-top: 0;
            float: left;
            border: none;
            text-align: center;
            color: #999;
            font-size: 12px;
        }
        .item-pf .val-input input:focus, .item-pf .val-input input:hover{
            border-color: #CCC;
        }
.item-pf .pf-setting{display:none;}
.item.active .pf-setting{display:block;}
.item[data-type='31'] .item-pf>.pf-item, .item[data-type='32'] .item-pf>.pf-option{display: block;}

#itemButton{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    padding: 15px 20px 15px 20px;
    }
    #itemButton>.add-item{
        float: left;
        }
        #itemButton>.add-item>button{
            float: left;
            margin-right: 20px;
        }
        #itemButton>.add-item>div{
            float: left;
            margin-right: 20px;
        }
        #itemButton>.add-item .dropdown-menu{
            top: -55px;
            min-width: 0;
            width: 70px;
            padding: 0;
            margin: 0;
            overflow: hidden;
            border-radius: 0;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            border-top: none;
            border-bottom: none;
            }
            #itemButton>.add-item .dropdown-menu li{
                width: 100%;
                padding: 5px 0;
                color: #999;
                text-align: center;
                border-top: 1px solid #CCC;
                font: 12px "微软雅黑",Tahoma;
                cursor: pointer;
                }
                #itemButton>.add-item .dropdown-menu li:hover{
                    background: #EEE;
                }
    #itemButton>.preview-item{
        float: right;
    }
    #surveyItem .question-bank{
        display: none;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        padding: 15px 20px 0 20px;
        float: right;
        overflow: hidden;
    }
    #surveyItem .question-bank.active{display: block;}
    #surveyItem .question-bank>div{
        width: 100%;
        overflow: hidden;
        margin-bottom: 15px;
        }
        #surveyItem .qt-header>.nav{
            margin-bottom: 0;
        }
        #surveyItem .qt-header>.nav a{
            border-radius: 0;
            padding: 7px 15px;
            color: #999;
            font: 12px "微软雅黑",Tahoma;
            cursor: pointer;
        }
        #surveyItem .qt-header>.nav .bank-search{
            width: 300px;
            color: #999;
            float: right;
            font: 12px "微软雅黑",Tahoma;
            margin: 0;
        }
        #surveyItem .qt-select>select.qb-type{
            width: 200px;
            margin: 0;
            float: left;
        }
        #surveyItem .qt-select>select.qb-item{
            width: 450px;
            margin: 0;
            float: right;
        }
        #surveyItem .qb-body{
            display: none;
            width: 100%;
            overflow: hidden;
            }
            #surveyItem .qb-body>.qbb-main{
                width: 600px;
                height: 100px;
                overflow: hidden;
                float: left;
                background: red;
            }
            #surveyItem .qb-body>.qbb-sub{
                width: 80px;
                overflow: hidden;
                float: right;
                }
                #surveyItem .qb-body>.qbb-sub>button{
                    float: right;
                }
        #surveyItem .qb-body.active{display: block;}
#surveySetting .cs-content>div{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 180px;
    height: 100px;
    float: left;
    color: #999;
    text-align: center;
    font-size: 19px;
    font-family: "宋体" ;
    }
    #surveySetting .cs-content .se-body{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        height: 65px;
        float: left;
    }
    #surveySetting .cs-content .se-body>a{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 20px 0;
        float: left;
        font: 23px "宋体",Tahoma;
        text-decoration: none;
        cursor: pointer;
        color: #666;
        border: 1px solid #CCC;
    }
    #surveySetting .cs-content .se-body.ok>a{
        font-weight: 900;
        color: #6699FF;
    }
    #surveySetting .cs-content .se-body>a>i{
        margin-left: 5px;
        font-weight: 100;
        color: #999;
    }
    #surveySetting .cs-content .se-body>a:hover, #surveySetting .cs-content .se-body.open>a{
        border-color: #6699FF;
    }
    #surveySetting .cs-content .se-body.open>a{
        border-color: #6699FF;
        border-bottom: none;
    }
    #surveySetting .cs-content .se-body>.dropdown-menu{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        min-width: 100%;
        margin: 0;
        float: left;
        cursor: pointer;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        border-radius: 0;
        overflow: hidden;
        border-color: #6699FF;
        }
        #surveySetting .se-body>.dropdown-menu>a{
            display: block;
            width: 100%;
            margin: 0;
            padding: 5px 0;
            float: left;
            font: 19px "宋体",Tahoma;
            color: #666;
            text-decoration: none;
        }
        #surveySetting .se-body>.dropdown-menu>a.sts-tpl{
            display: none;
        }
        #surveySetting .se-body>.dropdown-menu>a:hover{
            color: #FFF;
            background: #6699FF;
        }
    #surveySetting .dropdown-menu.sv-trade{
        width: 400px;
        padding: 10px;
        }
        #surveySetting .dropdown-menu.sv-trade>a{
            width: 25%;
            margin: 2px 0;
            float: left;
            cursor: pointer;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            border-radius: 0;
            overflow: hidden;
            border-color: #6699FF;
        }
        .survey-class[data-sv-type='0'] .survey-type-sub, .survey-class[data-sv-type='0'] .survey-trade{display:none;}

    #surveySetting .cs-content .se-desc{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        height: 35px;
        padding: 6px 0;
        overflow: hidden;
        float: left;
        font: 19px "宋体",Tahoma;
        border: 1px solid #CCC;
        border-top: none;
    }
    #surveySetting .end-value input{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        height: 65px;
        text-align: center;
        border: 1px solid #CCC;
        border-radius: 0;
        font: 27px "宋体",Tahoma;
        color: #666;
        font-weight: 100;
    }
    #surveySetting .end-value input.ok{
        color: #6699FF;
        font-weight: 900;
    }
    #surveySetting .end-value input:hover{
        color: #666;
        border-color: #6699FF;
    }
    #surveySetting .end-value input:focus{
        font-weight: 100;
        color: #666;
        border-color: #6699FF;
    }
    #surveySetting .survey-end[data-sv-end='0'] .end-value{display:none}
    #surveySetting .end-value .end-val-1, #surveySetting .end-value .end-val-2{display: none;}
    #surveySetting .survey-end[data-sv-end='1'] .end-val-1{display: block;}
    #surveySetting .survey-end[data-sv-end='2'] .end-val-2{display: block;}

    #surveySetting .end-desc{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 180px;
        height: 100px;
        padding: 0 20px;
        float: left;
        color: #6699FF;
        text-align: center;
        background: #FFF;
        font: 19px "宋体",Tahoma;  
        font-weight: 900;      
        border: 1px solid #6699FF;
    }
    #surveySetting .survey-type-sub, #surveySetting .end-value{margin: 0 70px;}

#surveySetting .survey-range select{
    width: 685px;
    height: 35px;
    margin: 0;
    padding: 5px;
    font: 19px "宋体",Tahoma;
}
#surveySetting .survey-tag ul{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 685px;
    padding: 0 4px;
    font: 19px "宋体",Tahoma;
    margin: 0;
    }
    #surveySetting .survey-tag ul li{
        margin-top: 2px;
        padding: 1px 20px 3px 5px;
    }
    #surveySetting .survey-tag ul input{
        width: 350px;
        padding-top: 1px;
        font: 19px "宋体",Tahoma;
    }
#surveySetting .answer-end-desc .vk-input{
    width: 685px;
    height: 60px;
    font: 12px "微软雅黑",Tahoma;
    color: #999;
    text-align: left;
    }

#surveyRecommend .svc-body{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 20px 25px;
    }
    #surveyRecommend .recomm-elem{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 180px;
        height: 160px;
        border: 1px solid #CCC;
        float: left;
        cursor: pointer;
    }
    #surveyRecommend .recomm-elem.auto{margin: 0 70px}
    #surveyRecommend .re-title{
        width: 100%;
        padding: 10px 0;
        font: 19px "宋体",Tahoma;
        text-align: center;
        border-bottom: 1px solid #CCC;
    }
    #surveyRecommend .re-desc{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        padding: 20px 10px;
        text-align: center;
        font: 19px "宋体",Tahoma;
        }
        #surveyRecommend .re-desc .re-value{
            width: 100%;
            font-size: 50px;
            font-weight: 900;
            color: #666;
        }
        #surveyRecommend .re-desc .re-span{
            width: 100%;
            margin: 0;
            float: left;
            font: 12px "微软雅黑",Tahoma;
            color: #999;
        }
    #surveyRecommend .recomm-elem:hover, #surveyRecommend .recomm-elem.ok{
        border-color: #FFF;
    }
    #surveyRecommend .recomm-elem:hover .re-title{
        color: #FFF;
        background: #FF9933;
        border-color: #FFF;
    }
    #surveyRecommend .re-focus{
        display: none;
        width: 100%;
        height: 100%;
        color: #FFF;
        background: #FF9933;
    }
    #surveyRecommend .re-after{
        display: block;
        width: 100%;
        height: 100%;
        background: #FF9933;
        text-align: center;
    }
    #surveyRecommend .re-after>.rea-desc{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        padding: 40px 0 10px 0;
        font: 23px "宋体",Tahoma;
        color: #FFF;
    }
    #surveyRecommend .re-after>.rea-icon{
        font-size: 60px;
        color: #FFF;
    }
    #surveyRecommend .recomm-elem .re-focus{display: none;}
    #surveyRecommend .recomm-elem .re-after{display: none;}
    #surveyRecommend .recomm-elem:hover .re-before, #surveyRecommend .recomm-elem.ok .re-before{display: none;}
    #surveyRecommend .recomm-elem:hover .re-focus{display: block;}
    #surveyRecommend .recomm-elem.ok:hover .re-focus{display: none;}
    #surveyRecommend .recomm-elem.ok .re-after{display: block;}

#surveyRecommend .recomm-self, #surveyRecommend[data-recomm='1'] .recomm-main{display: none;}
#surveyRecommend[data-recomm='1'] .recomm-self,{display: block;}
#surveyRecommend .recomm-self .res-sub{
    width: 100%;
    overflow: hidden;
}
#surveyRecommend .recomm-self .recomm-elem{
    height: 60px;
    border-bottom: none;
}
#surveyRecommend .recomm-self .recomm-elem.self{
    height: 45px;
    padding-top: 15px;
    font: 23px "宋体",Tahoma;
    text-align: center;
    border-color: #FF9933;
    color: #666;
    border-bottom: none;
}
#surveyRecommend .recomm-self .res-main{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    border: 1px solid #FF9933;
    border-top: none;
    overflow: hidden;
    }
    #surveyRecommend .recomm-self .res-wrap{
        width: 506px;
        height: 15px;
        float: right;
        border-top: 1px solid #FF9933;
    }
    #surveyRecommend .recomm-self .res-nav{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        height: 80px;
        padding: 0 20px;
        float: left;
        overflow: hidden;
        }
        #surveyRecommend .recomm-self .rule-nav{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 90px;
            height: 70px;
            margin: 0 30px;
            float: left;
            border: 1px solid #999;
            cursor: pointer;
        }
        #surveyRecommend .recomm-self .rule-nav:hover{
            border-color: #FF9933;
        }
        #surveyRecommend .recomm-self .rule-nav.active{
            height: 80px;
            border-color: #FF9933;
            border-bottom: none;
            cursor: auto;
            
            }
            #surveyRecommend .recomm-self .rule-nav.active>.rule-seq{
                color: #FF9933;
                border-color: #FF9933;
            }
        #surveyRecommend .recomm-self .rule-add{
            width: 50px;
            height: 50px;
            margin-top: 10px;
            margin-left: 20px;
            float: left;
            border: 1px solid #CCC;
            border-radius: 50px;
            text-align: center;
            font-size: 24px;
            line-height: 52px;
            color: #CCC;
            cursor: pointer;
        }
        #surveyRecommend .recomm-self .rule-add:hover{
            border-color: #EEE;
            background: #EEE;
            color: #FFF;
        }
        #surveyRecommend .recomm-self .rule-nav>.rule-seq{
            width: 100%;
            padding: 5px 0;
            font: 19px "宋体",Tahoma;
            text-align: center;
            color: #666;
            border-bottom: 1px solid #999;
        }
        #surveyRecommend .recomm-self .rule-nav>.rule-num{
            width: 100%;
            padding: 7px 0;
            font: 19px "宋体",Tahoma;
            text-align: center;
            font-weight: 900;
            color: #666;
        }
        #surveyRecommend .recomm-self .res-body{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 100%;
            padding: 0 20px;
            overflow: hidden;
        }
        #surveyRecommend .recomm-self .rule-setting{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 100%;
            border-top: 1px solid #FF9933;
            border-bottom: 1px solid #FF9933;
            overflow: hidden;
        }
        #surveyRecommend .recomm-self .rule-setting>.rst-body{
            float: left;
        }
        #surveyRecommend .recomm-self .rule-setting>.rst-sider{
            width: 120px;
            float: right;
            background: #FFCC99;
            }
            #surveyRecommend .recomm-self .rule-setting .rst-menu{
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                width: 100%;
                padding: 15px 0;
                float: right;
                font: 19px "宋体",Tahoma;
                text-align: center;
                color: #666;
                border-left: 3px solid #FFCC99;
                cursor: pointer;
            }
            #surveyRecommend .recomm-self .rule-setting .rst-menu.active, 
            #surveyRecommend .recomm-self .rule-setting .rst-menu.active:hover{
                color: #333;
                background: #FFF;
                border-color: #FFF;
                cursor: auto;
            }
            #surveyRecommend .recomm-self .rule-setting .rst-menu:hover{
                color: #333;
                border-color: #FF9933;
            }
        #surveyRecommend .recomm-self .res-footer{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 100%;
            padding: 10px 20px 15px 20px;
            margin-top: 20px;
            float: left;
            background: #FF9933;
            }
            #surveyRecommend .recomm-self .res-footer>.recomm-num{
                width: 200px;
                margin-top: 8px;
                margin-right: 30px;
                font: 19px "宋体",Tahoma;
                float: left;
                color: #FFF;
                }
                #surveyRecommend .recomm-self .res-footer>.recomm-num>span{
                    margin-left: 10px;
                    font-weight: 900;
                    font-size: 21px;
                }
            #surveyRecommend .recomm-self .res-footer>.recomm-confirm{
                height: 35px;
                width: 260px;
                float: left;
                color: #FF9933;
            }
            #surveyRecommend .recomm-self .res-footer>.recomm-cancel{
                height: 35px;
                width: 100px;
                margin-right: 20px;
                float: right;
            }
            #surveyRecommend .recomm-self .res-footer button{
                width: 100%;
                color: #FFF;
                border-color: #FFF;
                background: #FF9933;
                cursor: pointer;
            }
            #surveyRecommend .recomm-self .res-footer button:hover{
                color: #FF9933;
                background: #FFF;
            }
#surveyButton{
    width: 100%;
    padding-top: 20px;
    overflow: hidden;
    }
    #surveyButton>button{
        padding: 8px 0;
        font: 23px "宋体",Tahoma;
    }
    #surveyButton>button.submit, body.login #surveyButton>button.login{
        display: none;
    }
    body.login #surveyButton>button.submit{
        display: block;
    }
#footerBox{
    width: 100%;
    margin-top: 50px;
    text-align: center;
    color: #999;
}

#successBox{
    width: 500px;
    margin: 50px auto;
    overflow: hidden;
    }
    #successBox>label{
        padding-bottom: 5px;
        margin-bottom: 15px;
        font: 29px "宋体",Tahoma;
        color: orange;
        font-weight: 900;
        border-bottom: 1px solid orange;
        }
        #successBox>label>i{
            margin-right: 10px;
        }
    #successBox .suc-next>a{
        display: block;
        width: 100%;
        margin-bottom: 10px;
        float: left;
        font: 25px "宋体",Tahoma;
        }    