/*
 * Document    : answer.answer.css
 * Description : CSS for Survey/answer.html
 *
 * Created on  : 2012-9-25
 * Author      : ReadYun
 * Copyright   : VixiK
 */

#Main{
    margin: 10px auto;
    width: 960px;
    overflow: hidden;
    }
    #Main>div{
        width: 100%;
        overflow: hidden;
    }

/************************ 调查参与区域样式 ************************/

#answerBox .ans-box-sub{
    width: 100%;
    overflow: hidden;
    position: fixed;
    left: 0;
    }
#svSider{
    width: 960px;
    margin: 10px auto;
    overflow: hidden;
    text-align: left;
}
body.topbar-open.topbar-hover #svSider{
    margin-top: 40px;
}
#hintBar{
    width: 40px;
    float: left;
    overflow: hidden;
    font: 15px "宋体",Tahoma;
    text-align: right;
}
#itemFlag{
    width: 100%;
    overflow: hidden;
    }
    #itemFlag>div{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        float: right;
        overflow: hidden;
        }
    #itemFlag>div:hover{
        cursor: pointer;
        opacity: 1;
        background: #EEE;
        }
        #itemFlag span{
            margin-left: 5px;
            float: right;
            width: 5px;
            height: 18px;
            border-right: 1px solid #999;
            border-top: 1px solid #999;
        }
    #itemFlag>.ok>span{
        color: #FFF;
        background: #6BB130;
    }
#aswProgress{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    padding: 5px 10px 5px 5px;
    overflow: hidden;
    font: 14px Tahoma;
    border-right: 1px solid #999;
    border-top: 1px solid #999;
}
#answerBox .ans-box-main{
    width: 880px;
    padding: 0;  
    margin: 0;
    float: right;
    overflow: hidden;
    position: relative;
    right: 0;
    z-index: 20;
    }

#svHeader{
    width: 100%;
    margin: 10px 0;
    float: right;
    overflow: hidden;
    position: relative;
    }
    #svHeader>.sh-main{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 880px;
        padding-right: 20px;
        float: left;
        overflow: hidden;
        }
        #svHeader .sh-main>div{
            width: 100%;
            color: #666;
            font: 19px "宋体",Tahoma;
        }
        #svHeader .sh-main>.sv-title{
            text-align: center;
        }
    #svHeader>.sh-sub{
        width: 25px;
        height: 100%;
        float: right;
        position: absolute;
        right: 0;
        font-size: 23px;
        text-align: right;
        }
    #svHeader>.sh-sub>i{
        position: absolute;
        right: 0;
        bottom: 0;
        color: #CCC;
        cursor: pointer;
        }
    #svHeader:hover>.sh-sub>i{color: #999;}
    #svHeader>.sh-sub:hover>i{color: #666;}
    #svHeader>.sh-sub>i.icon-double-angle-up{display: none;}
    #svHeader .sv-desc{display: none;}
    #svHeader.desc i.icon-double-angle-down, #svHeader.desc .sv-title{display: none;}
    #svHeader.desc i.icon-double-angle-up, #svHeader.desc .sv-desc{display: block;}

#svBody{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    float: right;
    }
#question{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    min-height: 300px;
    _height: expression((documentElement.clientHeight < 300) ? "300px" : "auto");
    padding: 10px 0;
    float: left;
    overflow: hidden;
    text-align: left;
    background-color: #FFF;
    border: 1px solid #999;
    }
    #question .question{
        width: 100%;
        overflow: hidden;
        margin: 20px 0;
        }
        #question .question .qt-sub{
            width: 35px;
            height: 80px;
            float: left;
            color: #BBB;
            font: 12px "微软雅黑",Tahoma;
            text-align: center;
            }
            #question .question .qt-sub>.qt-seq{
                display: block;
                width: 100%;
                margin-bottom: 5px;
                font: 19px "宋体",Tahoma;
                text-align: right;
                color: #666;
                border-bottom: 1px solid #999;
            }
            #question .question .qt-sub>.qt-hint{
                display: none;
                width: 30px;
                padding: 1px 0;
                margin: 5px auto;
                color: #FFF;
                background: #CCC;
            }
            #question .question:hover .qt-sub>div{
                display: block;
            }
            #question .question:hover .qt-sub>.qt-seq{
                color: #333;
            }
        #question .question .qt-main{
            width: 820px;
            margin: 0 10px;
            float: right;
            }
            #question .question .qt-title{
                font: 19px "宋体",Tahoma;
                color: #666;
                margin-bottom: 10px;
            }
            #question .question:hover .qt-title{
                color: #333;
            }
        .question .qt-option{
            width: 100%;
            overflow: hidden;
            }
            .qt-option label.vf-elem-option{
                width: 100%;
                margin-bottom: 4px;
                float: left;
                font: 12px "微软雅黑",Tahoma;
                color: #666;
                }
                .qt-option .vf-elem-option>div{
                    top: 0px;
                    margin-right: 5px;
                }
            .qt-option textarea{
                width: 600px;
                height: 150px;
                font: 12px "宋体",Tahoma;
                box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
            }
            .qt-option textarea:hover{
                border-color: #AFAFAF;
            }
            .qt-option textarea:focus{
                border-color: #999;
            }
        .question .custom-option{
            display: none;
            margin-top: 5px;
            overflow: hidden;
            font-family: "微软雅黑",Tahoma;
            }
            .question .custom-option>.custom-opt-header{
                margin-top: 10px;
                overflow: hidden;
                }
                .question .custom-option button{
                    height: auto;
                    margin-right: 20px;
                    padding: 5px 10px;
                    cursor: pointer;
                }
                .custom-option button.button>i{
                    margin-right: 5px;
                    font-size: 12px;
                }
            .custom-option>.custom-opt-content{
                width: 600px;
                padding: 10px;
                margin-top: 10px;
                float: left;
                border: 1px solid #BBB;
                }
                .custom-option .custom-opt-content label{
                    font-size: 14px;
                    color: #999;
                }
                .custom-option .custom-opt-content input{
                    width: 550px;
                    padding: 2px 5px;
                    font: 12px "微软雅黑",Tahoma;
                    color: #333;
                }
                .custom-option .custom-opt-content select{
                    width: 563px;
                    padding: 2px;
                    font: 12px "微软雅黑",Tahoma;
                }
                .custom-option .option-ele{
                    width: auto;
                    margin-right: 20px;
                    float: left;
                    overflow: hidden;
                    font-style: italic;
                    float: left;
                    }
                    .custom-option .option-ele>.co-input-name{
                        float: left;
                        padding-right: 10px;
                    }
            .custom-option>.custom-opt-result{
                overflow: hidden;
                }
                .custom-opt-result>.cor-option .co-input-name{
                    float: left;
                }
                .custom-opt-result>.cor-alter{
                    float: left;
                    height: 18px;
                }
                .custom-opt-result>.cor-alter>i{
                    margin-right: 10px;
                    font-size: 17px;
                    cursor: pointer;
                    color: #999;
                }
                .custom-opt-result>.cor-alter>i:hover{
                    color: #666;
                }
                .custom-option>.custom-opt-result>div{
                    margin-right: 30px;
                    float: left;
                }
        .custom-option>div{display: none;}
        .custom-option[data-state='-1']>.custom-opt-header{display: block;}
        .custom-option[data-state='0']>.custom-opt-content{display: block;}
        .custom-option[data-state='1']>.custom-opt-result {display: block;}
#submit{
    width: 100%;
    margin-top: 50px;
    float: left;
    }
    #submit>button{
        padding: 10px 0;
        font: 23px "宋体",Tahoma;
        letter-spacing: 2px;
    }
    
#afterBox{
    display: none;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    }
    #afterBox>div{
        padding: 20px 0;
        margin: 10px auto;
        overflow: hidden;
        text-align: center;
        font-family: "宋体",Tahoma;
    }
    #afterBox label{
        display: inline;
        margin: 10px auto;
        padding: 5px 30px;
        overflow: hidden;
        text-align: center;
        border-bottom: 1px solid #333;
        font: 35px "宋体",Tahoma;
        cursor: auto;
    }
    #afterBox .after-elem-content{
        width: 100%;
        margin-top: 5px;
        overflow: hidden;
        }
        #afterBox .after-elem-content>div{
            width: 50%;
            padding: 10px 20px;
            float: left;
            overflow: hidden;
            box-sizing: border-box;
            -moz-box-sizing: border-box; /* Firefox */
            -webkit-box-sizing: border-box; /* Safari */
        }
        #afterBox .after-elem-content>.after-elem-content-left>div{
            float: right;
            overflow: hidden;
        }
        #afterBox .after-elem-content>.after-elem-content-right>div{
            float: left;
            overflow: hidden;
        }

    #thanks{
        color: orange;
        font-weight: 900;
        }
        #thanks>label{
            font-size: 49px;
            border-bottom: 5px solid orange;
            }
            #thanks i{
                margin-right: 20px;
            }
    #reward{
        color: orange;
        font-weight: 900;
        }
        #reward>label{
            border-bottom: 1px solid orange;
        }
        #reward .reward-elem{
            font-size: 35px;
            }
            #reward .reward-elem>div{
                width: 100%;
                margin-bottom: 15px;
            }
            #reward .reward-elem>.reward-value{
                line-height: normal;
                text-align: center;
            }
    #next{
        width: 100%;
        overflow: hidden;
        background: #6BB130;
        }
        #next>.after-elem-content{
            width: 960px;
            margin: 0 auto;
            }
            #next .next-elem{
                font:17px "宋体",Tahoma;
                text-align: center;
                color: #FFF;
                }
                #next .after-elem-content-left>.next-elem>div{
                    width: 170px;
                    float: right;
                    margin: 10px;
                    cursor: pointer;
                }
                #next .after-elem-content-right>.next-elem>div{
                    width: 170px;
                    float: left;
                    margin: 10px;
                    cursor: pointer;
                }
                #next .next-elem>div:hover{
                    color: #666;
                }
                #next .next-elem>div>i{
                    font-size: 55px;
                    text-align: center;
                }

    #recommBox>.after-elem-content>div{
    float: none;
    }
    #recommBox .recomm-sv-type{
        padding: 0;
        margin: 10px auto;
        overflow: hidden;
        }
        #recommBox .recomm-sv-type>div{
            display: inline;
            padding: 5px;
            margin: 0 5px;
            overflow: hidden;
            font:17px "宋体",Tahoma;
            border: 1px solid #CCC;
        }
        #recommBox .recomm-sv-type>div:hover{
            cursor: pointer;
            border-color: #666;
        }
        #recommBox .recomm-sv-type>.active{
            background: #EEE;
        }
    #recommBox .recomm-sv-list{
        margin: 5px auto;
        padding: 5px 0;
        overflow: hidden;
        background: #EEE;
        }


#Footer{
    margin-top: 50px;
    border-top: 1px solid #CCC;
}