    /*
 * Document    : survey.type.css
 * Description : CSS for Survey/type.html
 *
 * Created on  : 2012-11-7
 * Author      : ReadYun
 * Copyright   : VixiK
 */

#Main{
    width: 960px;
    margin: 20px auto;
    overflow: hidden;
    font-family: "微软雅黑",Tahoma;
}

#mainLeft{
    width: 660px;
    float: left;
    overflow: hidden;
}
#mainRight{
    width: 240px;
    float: right;
}

#surveyHeader{
    width: 100%;
    overflow: hidden;
    }
    #surveyHeader .sh-main{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 70px;
        height: 70px;
        float: left;
        font: 25px "宋体",Tahoma;
        color: #FFF;
    }
    #surveyHeader .sh-main>img{
        width: 100%;
        height: 100%;
    }
    #surveyHeader .sh-sub{
        width: 580px;
        float: right;
        overflow: hidden;
        }
        #surveyHeader .sv-type-sub{
            width: 100%;
            float: left;
            margin-bottom: 10px;
            color: #666;
            }
            #surveyHeader .sv-type-sub>.sv-type-name{
                float: left;
                font: 25px "宋体",Tahoma;
            }
            #surveyHeader .sv-type-sub>.sv-type-follow{
                float: right;
                }
                #surveyHeader .sv-type-sub>.sv-type-follow>.follow-button{
                    width: 60px;
                    float: right;
                    padding-left: 10px;
                    margin-left: 10px;
                }
                #surveyHeader .sv-type-sub>.sv-type-follow button{
                    display: none;
                    float: right;
                }
                #surveyHeader .sv-type-sub>.sv-type-follow>.follow-button.unfollow>button[data-action='add']{
                    display: block;   
                }
                #surveyHeader .sv-type-sub>.sv-type-follow>.follow-button.followed>button[data-action='del']{
                    display: block;   
                }
                #surveyHeader .sv-type-sub>.sv-type-follow>.follow-desc{
                    margin-top: 2px;
                    float: right;
                    color: #999;
                }
        #surveyHeader .sv-list-nav a{
            padding: 5px 10px;
            border-radius: 0;
            color: #666;
       }

#surveyList{
    width: 100%;
    overflow: hidden;
    }
    #surveyList>.sv-list-body{
        width: 100%;
        margin-bottom: 10px;
        overflow: hidden;
        float: left;
        }
        #surveyList>.sv-list-body>div{
            width: 100%;
            padding-bottom: 10px;
            margin-bottom: 10px;
            overflow: hidden;
            float: left;
            border-bottom: 1px dotted #CCC;
        }
        #surveyList>.sv-list-body>div:last-child{
            border: none;
        }
    #surveyList .sl-elem .sl-stats{
        width: 45px;
        height: 33px;
        margin-top: 4px;
        margin-right: 5px;
        float: left;
        color: #FFF;
        line-height: 33px;
        background: #9999FF;
        text-align: center;
    }
    #surveyList .sl-elem .sl-main{
        width: 500px;
        float: left;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        }
        #surveyList .sl-elem .sl-main .sv-name{
            width: 100%;
            font: 14px "微软雅黑",Tahoma;
            cursor: pointer;
            margin-bottom: 5px;
        }
        #surveyList .search-list.question .sl-elem .sl-main .sv-name{
            font: 12px "微软雅黑",Tahoma;
        }
        #surveyList .search-list.question .sl-elem .sl-main .qt-name{
            font: 15px "微软雅黑",Tahoma;
            color: #666;
        }
        #surveyList .search-list.question .sl-elem .sl-main .qt-type{
            width: 80px;
        }
        #surveyList .sl-elem .sl-main .sv-desc{
            width: 100%;
            margin-bottom: 5px;
            font: 12px "微软雅黑",Tahoma;
            color: #888;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        #surveyList .sl-elem .sl-main .sv-info>div{
            margin-right: 20px;
            float: left;
            color: #666;
            margin-top: 3px;
        }
        #surveyList .sl-elem .sv-info .sv-user{
            width: 80px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        #surveyList .sl-elem .sv-info .sv-item{
            width: 40px;
        }
        #surveyList .sl-elem .sv-info .sv-type{
            width: 140px;
        }
        #surveyList .sl-elem .sv-info img{
            width: 18px;
            height: 18px;
            margin-right: 5px;
            margin-top: -3px;
        }
        #surveyList .sl-elem .sv-info a{
            color: #666;
        }
        #surveyList .sl-elem .sv-info span{
            margin: 0 3px;
        }
        #surveyList .sl-elem .sv-info i{
            display: block;
            margin-top: 1px;
            margin-right: 5px;
            float: left;
            font-size: 16px;
        }
    #surveyList .sl-elem .sl-sub{
        width: 100px;
        float: right;
        color: #CCC;
        text-align: right;
        }
        #surveyList .sl-elem .sl-sub .sv-time{
            margin-bottom: 26px;
        }
    #surveyList>div.sv-list-footer{
        width: 100%;
        float: left;
        font-size: 14px;
    }
#switchBox{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    margin-bottom: 25px;
    }
    #switchBox button{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        margin: 0;
    }
    #switchBox .switch-type{
        padding-bottom: 5px;
    }
    #switchBox .switch-type button{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
    }
    #switchBox .switch-type.open button{
        color: #FFF;
        background: #CCC;
        }
        #switchBox .switch-content{
            width: 400px;
            overflow: hidden;
            border-radius: 0;
            margin: 0;
            }
            #switchBox .switch-type-elem{
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                width: 100%;
                padding: 10px 0;
                overflow: hidden;
                float: left;
                }
                #switchBox .switch-type-main{
                    width: 100%;
                    padding-left: 10px;
                    overflow: hidden;
                    float: left;
                    font: 19px "宋体",Tahoma;
                    color: #333;
                    border-left: 8px solid #6BB130;
                    cursor: pointer;
                }
                #switchBox .switch-type-sub{
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    width: 100%;
                    float: left;
                    margin-left: 5px;
                    }
                    #switchBox .switch-type-sub>div{
                        width: 80px;
                        margin-top: 5px;
                        margin-left: 15px;
                        float: left;
                        font-size: 14px;
                        cursor: pointer;
                        color: #999;
                    }
                    #switchBox .switch-type-main:hover{color: #6BB130}
                    #switchBox .switch-type-sub>div:hover{color: #6BB130;}
#actionBox{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    padding: 20px 10px;
    margin-bottom: 30px;
    background: #3399FF;
    overflow: hidden;
    }
    #actionBox .action-box{
        width: 100px;
        float: left;
        }
        #actionBox .action-desc{
            width: 100%;
            margin-top: 5px;
            overflow: hidden;
            color: #FFF;
            text-align: center;
            }
            #actionBox .action-value{
                padding: 10px 0;
                font-size: 16px;
                font-style: italic;
                color: #FFF;
                text-align: center;
            }
        #actionBox .action-now{
            width: 90%;
            height: 28px;
            margin: 20px auto 5px auto;
        }
        #actionBox .action-now>button{
            border: 1px solid #FFF;
            background: #3399FF;
        }
        #actionBox .action-now>button:hover{
            color: #3399FF;
            background: #FFF;
        }
    #actionBox span{
        width: 20px;
        height: 20px;
        float: left;
    }
    #mainRight .st-box-elem{
        width: 100%;
        padding-bottom: 10px;
        margin-bottom: 15px;
        float: left;
        overflow: hidden;
        }
        #mainRight .st-box-elem .sb-header{
            padding-left: 5px;
            margin-bottom: 10px;
            font: 19px "宋体",Tahoma;
            border-left: 8px solid #6BB130;
        }
        #mainRight .st-box-elem .sb-body{
            padding-bottom: 10px;
            border-bottom: 1px solid #CCC;
            overflow: hidden;
        }
        #mainRight .trade-hot .th-elem{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;   
            width: 100%;
            margin-right: 10px;
            padding-bottom: 15px;
            float: left;
            overflow: hidden;
            cursor: pointer;
            }
            #mainRight .trade-hot .th-elem>.sh-img{
                width: 45px;
                height: 45px;
                float: left;
            }
            #mainRight .trade-hot .th-elem>.sh-info{
                width: 185px;
                float: left;
                margin-left: 10px;
            }
            #mainRight .trade-hot .sh-info>div{
                width: 100%;
                margin-bottom: 4px;
                float: left;
                }
                #mainRight .trade-hot .si-top>button{
                    display: none;
                    opacity: 0;
                    float: right;
                    padding: 0 5px;
                    }
                    #mainRight .trade-hot .th-elem:hover .si-top>button{
                        opacity: 1;
                    }
                    #mainRight .trade-hot .th-elem.unfollow button[data-action='add']{
                        display: block;   
                    }#mainRight .trade-hot .th-elem.followed button[data-action='del']{
                        display: block;   
                    }
            #mainRight .trade-hot .th-elem>.sh-info>span{
                display: block;
                width: 80px;
                float: left;
                color: #999;
                text-align: left;
            }
            #mainRight .trade-hot .th-elem>.sh-info>span.follow-cnt{
                float: right;
                text-align: right;
            }
#mainRight .user-brisk .rank-elem{
        width: 100%;
        float: left;
        margin-bottom: 10px;
        }
        #mainRight .user-brisk .rank-elem>div{
            float: left;
            }
            #mainRight .user-brisk .user-photo{
                width: 50px;
                height: 50px;
                margin-right: 10px;
                margin-bottom: 2px;
                float: left;
            }
        #mainRight .user-brisk .user-info{
            width: 180px;
            float: left;
            }
            #mainRight .user-brisk .user-nick{
                width: 100%;
                margin-bottom: 7px;
                float: left;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            #mainRight .user-brisk .user-action{
                width: 100%;
                overflow: hidden;
                }
                #mainRight .user-brisk .user-publish{
                    margin-top: 1px;
                    float: left;
                    overflow: hidden;
                    color: #666;
                    }
                    #mainRight .user-brisk .user-publish>span{
                        margin: 0 2px;
                        color: #333;
                        font-weight: 900;
                    }
                #mainRight .user-brisk .user-follow{
                    display: none;
                    float: float;
                    padding: 0 5px;
                }
                #mainRight .user-brisk .rank-elem:hover .user-publish{
                    display: none;
                }
                #mainRight .user-brisk .rank-elem:hover .user-follow{
                    display: block;
                }