/*
 * Document    : vixik-ui.custom.css
 * Description : 统一基础样式表
 *
 * Created on  : 2012-12-15
 * Author      : ReadYun
 * Copyright   : VixiK
 */

/*
 * BootStrap样式本地化设置
 *
 */

/* Modal插件
----------------------------------*/
div.modal{
    position:fixed;
    top:100px;
}

select{
    height: 31px;
}
select>option{
    padding: 3px 10px;
}
/*
 * jQueryUI样式本地化设置
 *
 */

/* Dialog
----------------------------------*/
.ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar { padding: .5em 1em .3em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .2em 0; }
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }



/*-------------------------------------------------- vkButton CSS --------------------------------------------------*/

/* 默认基本样式 */
.vkbutton{
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    padding: 2px 5px;
    font-size: 12px;
    text-align: center;
    background: #E3E3E3;
    border: 1px solid #D3D3D3;
}
.vkbutton:hover{
    cursor: pointer;
    text-decoration: none;
}

.vkbutton.vbtn{
    background: #D3D3D3;
    border-color: #D3D3D3;
}

/******** 各种颜色样式 ********/
.vkbutton.vbtn-primary{background: #6699FF; border-color: #0099FF; color: #FFF;}
.vkbutton.vbtn-success{background: #66CC66; border-color: #33CC66; color: #FFF;}
.vkbutton.vbtn-warning{background: #FF9933; border-color: #FF9900; color: #FFF;}
.vkbutton.vbtn-danger {background: #FF3333; border-color: #FF0033; color: #FFF;}
.vkbutton.vbtn-royal  {background: #7700FF; border-color: #9900FF; color: #FFF;}
.vkbutton.vbtn-inverse{background: #222222; border-color: #333333; color: #FFF;}
.vkbutton.vbtn-vixik  {background: #6BB130; border-color: #6BB130; color: #FFF;}

.vkbutton.vbtn-primary:hover{background: #0099FF;}
.vkbutton.vbtn-success:hover{background: #33CC66;}
.vkbutton.vbtn-warning:hover{background: #FF9900;}
.vkbutton.vbtn-danger:hover {background: #FF0033;}
.vkbutton.vbtn-royal:hover  {background: #9900FF;}
.vkbutton.vbtn-inverse:hover{background: #333333;}
.vkbutton.vbtn-vixik:hover  {background: #3BB130;}


/******** vbtn-border ********/
.vkbutton.vbtn-border.vbtn-primary{color: #6699FF;}
.vkbutton.vbtn-border.vbtn-success{color: #66CC66;}
.vkbutton.vbtn-border.vbtn-warning{color: #FF9933;}
.vkbutton.vbtn-border.vbtn-danger {color: #FF0033;}
.vkbutton.vbtn-border.vbtn-royal  {color: #7700FF;}
.vkbutton.vbtn-border.vbtn-inverse{color: #222222;}
.vkbutton.vbtn-border.vbtn-vixik  {color: #6BB130;}

.vkbutton.vbtn-border{background: #FFF;}
.vkbutton.vbtn-border:hover{color: #FFF;}
.vkbutton.vbtn-border.active{color: #FFF;}

/******** vbtn .active ********/
.vkbutton.vbtn-primary.active{background: #6699FF; border-color: #6699FF;}
.vkbutton.vbtn-success.active{background: #66CC66; border-color: #66CC66;}
.vkbutton.vbtn-warning.active{background: #FF9933; border-color: #FF9933;}
.vkbutton.vbtn-danger.active {background: #FF0033; border-color: #FF0033;}
.vkbutton.vbtn-royal.active  {background: #7700FF; border-color: #7700FF;}
.vkbutton.vbtn-inverse.active{background: #222222; border-color: #222222;}
.vkbutton.vbtn-vixik.active  {background: #6BB130; border-color: #6BB130;}

/******** vbtn-block ********/
.vkbutton.vbtn-block{
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    color: #333;
    background: none;
}
.vkbutton.vbtn-block:hover{color: #FFF;}
.vkbutton.vbtn-block.vbtn-inverse{color: #333;}
.vkbutton.vbtn-block.vbtn-inverse:hover{color: #FFF;}
.vkbutton.vbtn-block.vbtn-inverse.active{color: #FFF;}

/******** vbtn-default ********/
.vkbutton.vbtn-default{color: #999; border-color: #D3D3D3;}
.vkbutton.vbtn-default:hover{background: #D3D3D3; border-color: #D3D3D3;}
.vkbutton.vbtn-default.active{background: #D3D3D3; border-color: #D3D3D3;}
.vkbutton.vbtn-inverse{color: #FFF;}

/******** vbtn-block ********/
.vkbutton.block{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

/******** vbtn-default ********/
.vkbutton.small {padding: 1px 5px; font-size:10px}
.vkbutton.large {padding: 8px; font: 19px "宋体",Tahoma;}
.vkbutton.xlarge{padding: 8px; font: 23px "宋体",Tahoma;}



